<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="image/favicon.png" rel="icon" />
    <title>Checkout</title>
    <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
    <!-- CSS Part Start-->
    <link rel="stylesheet" type="text/css" href="js/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.transitions.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="css/stylesheet-skin3.css" />
    <link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <!-- CSS Part End-->
</head>

<body>
    <div class="wrapper-wide">

      <div id="header">
        <!-- Header Start-->
        <header class="header-row">
            <div class="container">
                <div class="table-container">
                    <!-- Logo Start -->
                    <div class="col-table-cell col-lg-4 col-md-4 col-sm-12 col-xs-12 inner">
                        <div id="logo">
                            <a href="index.html"><img class="img-responsive" src="image/banner/logo.png" style="width: 50%" title="MarketShop" alt="MarketShop" /></a>
                        </div>
                    </div>
                    <!-- Logo End -->
                    <!-- Search Start-->
                    <div class="col-table-cell col-lg-5 col-md-5 col-md-push-0 col-sm-6 col-sm-push-6 col-xs-12">
                        <div id="search" class="input-group">
                            <input id="filter_name" type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                            <button type="button" class="button-search"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <!-- Search End-->
                    <!-- Mini Cart Start-->
                    <div class="col-table-cell col-lg-3 col-md-3 col-md-pull-0 col-sm-6 col-sm-pull-6 col-xs-12 inner">
                        <div id="cart">
                            <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="heading dropdown-toggle"> <span class="cart-icon pull-left flip"></span> <span id="cart-total">2 item(s) - Rp 1,132.00</span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center">
                                                    <a href="#"><img class="img-thumbnail" title="Xitefun Causal Wear Fancy Shoes" alt="Xitefun Causal Wear Fancy Shoes" src="image/banner/sepatu.jpg"></a>
                                                </td>
                                                <td class="text-left"><a href="#">Xitefun Causal Wear Fancy Shoes</a></td>
                                                <td class="text-right">x 1</td>
                                                <td class="text-right">Rp 902.00</td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <a href="#"><img class="img-thumbnail" title="Aspire Ultrabook Laptop" alt="Aspire Ultrabook Laptop" src="image/product/samsung_tab_1-50x50.jpg"></a>
                                                </td>
                                                <td class="text-left"><a href="#">Aspire Ultrabook Laptop</a></td>
                                                <td class="text-right">x 1</td>
                                                <td class="text-right">Rp 230.00</td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li>
                                    <div>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="text-right"><strong>Sub-Total</strong></td>
                                                    <td class="text-right">Rp 940.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                                                    <td class="text-right">Rp 4.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right"><strong>VAT (20%)</strong></td>
                                                    <td class="text-right">Rp 188.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right"><strong>Total</strong></td>
                                                    <td class="text-right">Rp 1,132.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="checkout"><a href="cart.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> View Cart</a>&nbsp;&nbsp;&nbsp;<a href="checkout.html" class="btn btn-primary"><i class="fa fa-share"></i> Checkout</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mini Cart End-->
                </div>
            </div>
        </header>
        <!-- Header End-->
        <!-- Main Menu Start-->
        <nav id="menu" class="navbar">
            <div class="container">
                <div class="navbar-header"> <span class="visible-xs visible-sm"> Menu <b></b></span></div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="home_link" title="Home" href="index.html"><span>Home</span></a></li>
                        <li class="dropdown"><a>Shop by Categories</a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li> <a href="category.html">Clothing<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="category.html">Men <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">Sub Categories</a></li>
                                                            <li><a href="category.html">Sub Categories</a></li>
                                                            <li><a href="category.html">Sub Categories</a></li>
                                                            <li><a href="category.html">Sub Categories</a></li>
                                                            <li><a href="category.html">Sub Categories New</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Women</a> </li>
                                                <li><a href="category.html">Girls<span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">Sub Categories </a></li>
                                                            <li><a href="category.html">Sub Categories New</a></li>
                                                            <li><a href="category.html">Sub Categories New</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Boys</a></li>
                                                <li><a href="category.html">Baby</a></li>
                                                <li><a href="category.html">Accessories <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Electronics<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li> <a href="category.html">Laptops <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li> <a href="category.html">New Sub Categories </a> </li>
                                                            <li> <a href="category.html">New Sub Categories </a> </li>
                                                            <li> <a href="category.html">Sub Categories New </a> </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li> <a href="category.html">Desktops <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li> <a href="category.html">New Sub Categories </a> </li>
                                                            <li> <a href="category.html">Sub Categories New </a> </li>
                                                            <li> <a href="category.html">Sub Categories New </a> </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li> <a href="category.html">Cameras <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li> <a href="category.html">New Sub Categories</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Mobile Phones <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories</a></li>
                                                            <li><a href="category.html">New Sub Categories</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">TV &amp; Home Audio <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories </a> </li>
                                                            <li><a href="category.html">Sub Categories New </a> </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">MP3 Players</a> </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="category.html">Shoes<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="category.html">Men</a> </li>
                                                <li><a href="category.html">Women <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories </a> </li>
                                                            <li><a href="category.html">Sub Categories </a> </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Girls</a> </li>
                                                <li><a href="category.html">Boys</a> </li>
                                                <li><a href="category.html">Baby</a> </li>
                                                <li><a href="category.html">Accessories <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories</a></li>
                                                            <li><a href="category.html">New Sub Categories</a></li>
                                                            <li><a href="category.html">Sub Categories</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Watches<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li> <a href="category.html">Men's Watches</a></li>
                                                <li> <a href="category.html">Women's Watches</a></li>
                                                <li> <a href="category.html">Kids' Watches</a></li>
                                                <li> <a href="category.html">Accessories</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Jewellery<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li> <a href="category.html">Silver <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li> <a href="category.html">New Sub Categories</a></li>
                                                            <li> <a href="category.html">New Sub Categories</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Gold <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">test 1</a></li>
                                                            <li><a href="category.html">test 2</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Diamond</a></li>
                                                <li><a href="category.html">Pearl <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Men's Jewellery</a></li>
                                                <li><a href="category.html">Children's Jewellery <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories </a> </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="category.html">Drone &amp; & Gopro<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li> <a href="category.html">Perfumes</a></li>
                                                <li> <a href="category.html">Makeup</a></li>
                                                <li> <a href="category.html">Sun Care</a></li>
                                                <li> <a href="category.html">Skin Care</a></li>
                                                <li> <a href="category.html">Eye Care</a></li>
                                                <li> <a href="category.html">Hair Care</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Kids &amp; Babies<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="category.html">Toys</a></li>
                                                <li><a href="category.html">Games <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">test 25</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Puzzles</a></li>
                                                <li><a href="category.html">Hobbies</a></li>
                                                <li><a href="category.html">Strollers</a></li>
                                                <li><a href="category.html">Health &amp; Safety</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Sports<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="category.html">Cycling</a></li>
                                                <li><a href="category.html">Running</a></li>
                                                <li><a href="category.html">Swimming</a></li>
                                                <li><a href="category.html">Football</a></li>
                                                <li><a href="category.html">Golf</a></li>
                                                <li><a href="category.html">Windsurfing</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Home &amp; Garden<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="category.html">Bedding</a></li>
                                                <li><a href="category.html">Food</a></li>
                                                <li><a href="category.html">Furniture</a></li>
                                                <li><a href="category.html">Kitchen</a></li>
                                                <li><a href="category.html">Lighting</a></li>
                                                <li><a href="category.html">Tools</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Wines &amp; Spirits<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="category.html">Wine</a></li>
                                                <li><a href="category.html">Whiskey</a></li>
                                                <li><a href="category.html">Vodka</a></li>
                                                <li><a href="category.html">Liqueurs</a></li>
                                                <li><a href="category.html">Beer</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu_brands dropdown"><a href="#">Brands</a>
                            <div class="dropdown-menu">
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/apple_logo-60x60.jpg" title="Apple" alt="Apple" /></a><a href="#">Apple</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="Canon" alt="Canon" /></a><a href="#">Canon</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/hp_logo-60x60.jpg" title="Hewlett-Packard" alt="Hewlett-Packard" /></a><a href="#">Hewlett-Packard</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/htc_logo-60x60.jpg" title="HTC" alt="HTC" /></a><a href="#">HTC</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/palm_logo-60x60.jpg" title="Palm" alt="Palm" /></a><a href="#">Palm</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/sony_logo-60x60.jpg" title="Sony" alt="Sony" /></a><a href="#">Sony</a> </div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="test" alt="test" /></a><a href="#">test</a> </div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/apple_logo-60x60.jpg" title="test 3" alt="test 3" /></a><a href="#">test 3</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="test 5" alt="test 5" /></a><a href="#">test 5</a> </div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="test 6" alt="test 6" /></a><a href="#">test 6</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/apple_logo-60x60.jpg" title="test 7" alt="test 7" /></a><a href="#">test 7</a> </div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="test1" alt="test1" /></a><a href="#">test1</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/apple_logo-60x60.jpg" title="test2" alt="test2" /></a><a href="#">test2</a></div>
                            </div>
                        </li>
                        <li class="contact-link"><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Main Menu End-->
      </div>
        <div id="container">
            <div class="container">
                <!-- Breadcrumb Start-->
                <ul class="breadcrumb">
                    <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                    <li><a href="cart.html">Shopping Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                </ul>
                <!-- Breadcrumb End-->
                <div class="row">
                    <!--Middle Part Start-->
                    <div id="content" class="col-sm-12">
                        <h1 class="title">Checkout</h1>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><i class="fa fa-sign-in"></i> Create an Account or Login</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="register" name="account"> Register Account</label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" checked="checked" value="guest" name="account"> Guest Checkout</label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="returning" name="account"> Returning Customer</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><i class="fa fa-user"></i> Your Personal Details</h4>
                                    </div>
                                    <div class="panel-body">
                                        <fieldset id="account">
                                            <form action="checkout-handler" method="post">
                                            <div class="form-group required">
                                                <label for="input-payment-firstname" class="control-label">First Name</label>
                                                <input type="text" class="form-control" id="input-payment-firstname" placeholder="First Name" value="" name="firstname">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-lastname" class="control-label">Last Name</label>
                                                <input type="text" class="form-control" id="input-payment-lastname" placeholder="Last Name" value="" name="lastname">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-email" class="control-label">E-Mail</label>
                                                <input type="text" class="form-control" id="input-payment-email" placeholder="E-Mail" value="" name="email">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-telephone" class="control-label">Telephone</label>
                                                <input type="text" class="form-control" id="input-payment-telephone" placeholder="Telephone" value="" name="telephone">
                                            </div>
                                            <div class="form-group">
                                                <label for="input-payment-fax" class="control-label">Fax</label>
                                                <input type="text" class="form-control" id="input-payment-fax" placeholder="Fax" value="" name="fax">
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><i class="fa fa-book"></i> Your Address</h4>
                                    </div>
                                    <div class="panel-body">
                                        <fieldset id="address" class="required">
                                            <div class="form-group">
                                                <label for="input-payment-company" class="control-label">Company</label>
                                                <input type="text" class="form-control" id="input-payment-company" placeholder="Company" value="" name="company">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-address-1" class="control-label">Address 1</label>
                                                <input type="text" class="form-control" id="input-payment-address-1" placeholder="Address 1" value="" name="address_1">
                                            </div>
                                            <div class="form-group">
                                                <label for="input-payment-address-2" class="control-label">Address 2</label>
                                                <input type="text" class="form-control" id="input-payment-address-2" placeholder="Address 2" value="" name="address_2">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-city" class="control-label">City</label>
                                                <input type="text" class="form-control" id="input-payment-city" placeholder="City" value="" name="city">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-postcode" class="control-label">Post Code</label>
                                                <input type="text" class="form-control" id="input-payment-postcode" placeholder="Post Code" value="" name="postcode">
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-country" class="control-label">Country</label>
                                                <select class="form-control" id="input-payment-country" name="country_id">
                                                    <option value=""> --- Please Select --- </option>
                                                    <option value="244">Aaland Islands</option>
                                                    <option value="1">Afghanistan</option>
                                                    <option value="2">Albania</option>
                                                    <option value="3">Algeria</option>
                                                    <option value="4">American Samoa</option>
                                                    <option value="5">Andorra</option>
                                                    <option value="6">Angola</option>
                                                    <option value="7">Anguilla</option>
                                                    <option value="8">Antarctica</option>
                                                    <option value="9">Antigua and Barbuda</option>
                                                    <option value="10">Argentina</option>
                                                    <option value="11">Armenia</option>
                                                    <option value="12">Aruba</option>
                                                    <option value="252">Ascension Island (British)</option>
                                                    <option value="13">Australia</option>
                                                    <option value="14">Austria</option>
                                                    <option value="15">Azerbaijan</option>
                                                    <option value="16">Bahamas</option>
                                                    <option value="17">Bahrain</option>
                                                    <option value="18">Bangladesh</option>
                                                    <option value="19">Barbados</option>
                                                    <option value="20">Belarus</option>
                                                    <option value="21">Belgium</option>
                                                    <option value="22">Belize</option>
                                                    <option value="23">Benin</option>
                                                    <option value="24">Bermuda</option>
                                                    <option value="25">Bhutan</option>
                                                    <option value="26">Bolivia</option>
                                                    <option value="245">Bonaire, Sint Eustatius and Saba</option>
                                                    <option value="27">Bosnia and Herzegovina</option>
                                                    <option value="28">Botswana</option>
                                                    <option value="29">Bouvet Island</option>
                                                    <option value="30">Brazil</option>
                                                    <option value="31">British Indian Ocean Territory</option>
                                                    <option value="32">Brunei Darussalam</option>
                                                    <option value="33">Bulgaria</option>
                                                    <option value="34">Burkina Faso</option>
                                                    <option value="35">Burundi</option>
                                                    <option value="36">Cambodia</option>
                                                    <option value="37">Cameroon</option>
                                                    <option value="38">Canada</option>
                                                    <option value="251">Canary Islands</option>
                                                    <option value="39">Cape Verde</option>
                                                    <option value="40">Cayman Islands</option>
                                                    <option value="41">Central African Republic</option>
                                                    <option value="42">Chad</option>
                                                    <option value="43">Chile</option>
                                                    <option value="44">China</option>
                                                    <option value="45">Christmas Island</option>
                                                    <option value="46">Cocos (Keeling) Islands</option>
                                                    <option value="47">Colombia</option>
                                                    <option value="48">Comoros</option>
                                                    <option value="49">Congo</option>
                                                    <option value="50">Cook Islands</option>
                                                    <option value="51">Costa Rica</option>
                                                    <option value="52">Cote D'Ivoire</option>
                                                    <option value="53">Croatia</option>
                                                    <option value="54">Cuba</option>
                                                    <option value="246">Curacao</option>
                                                    <option value="55">Cyprus</option>
                                                    <option value="56">Czech Republic</option>
                                                    <option value="237">Democratic Republic of Congo</option>
                                                    <option value="57">Denmark</option>
                                                    <option value="58">Djibouti</option>
                                                    <option value="59">Dominica</option>
                                                    <option value="60">Dominican Republic</option>
                                                    <option value="61">East Timor</option>
                                                    <option value="62">Ecuador</option>
                                                    <option value="63">Egypt</option>
                                                    <option value="64">El Salvador</option>
                                                    <option value="65">Equatorial Guinea</option>
                                                    <option value="66">Eritrea</option>
                                                    <option value="67">Estonia</option>
                                                    <option value="68">Ethiopia</option>
                                                    <option value="69">Falkland Islands (Malvinas)</option>
                                                    <option value="70">Faroe Islands</option>
                                                    <option value="71">Fiji</option>
                                                    <option value="72">Finland</option>
                                                    <option value="74">France, Metropolitan</option>
                                                    <option value="75">French Guiana</option>
                                                    <option value="76">French Polynesia</option>
                                                    <option value="77">French Southern Territories</option>
                                                    <option value="126">FYROM</option>
                                                    <option value="78">Gabon</option>
                                                    <option value="79">Gambia</option>
                                                    <option value="80">Georgia</option>
                                                    <option value="81">Germany</option>
                                                    <option value="82">Ghana</option>
                                                    <option value="83">Gibraltar</option>
                                                    <option value="84">Greece</option>
                                                    <option value="85">Greenland</option>
                                                    <option value="86">Grenada</option>
                                                    <option value="87">Guadeloupe</option>
                                                    <option value="88">Guam</option>
                                                    <option value="89">Guatemala</option>
                                                    <option value="256">Guernsey</option>
                                                    <option value="90">Guinea</option>
                                                    <option value="91">Guinea-Bissau</option>
                                                    <option value="92">Guyana</option>
                                                    <option value="93">Haiti</option>
                                                    <option value="94">Heard and Mc Donald Islands</option>
                                                    <option value="95">Honduras</option>
                                                    <option value="96">Hong Kong</option>
                                                    <option value="97">Hungary</option>
                                                    <option value="98">Iceland</option>
                                                    <option value="99">India</option>
                                                    <option selected="selected" value="100">Indonesia</option>
                                                    <option value="101">Iran (Islamic Republic of)</option>
                                                    <option value="102">Iraq</option>
                                                    <option value="103">Ireland</option>
                                                    <option value="254">Isle of Man</option>
                                                    <option value="104">Israel</option>
                                                    <option value="105">Italy</option>
                                                    <option value="106">Jamaica</option>
                                                    <option value="107">Japan</option>
                                                    <option value="257">Jersey</option>
                                                    <option value="108">Jordan</option>
                                                    <option value="109">Kazakhstan</option>
                                                    <option value="110">Kenya</option>
                                                    <option value="111">Kiribati</option>
                                                    <option value="113">Korea, Republic of</option>
                                                    <option value="253">Kosovo, Republic of</option>
                                                    <option value="114">Kuwait</option>
                                                    <option value="115">Kyrgyzstan</option>
                                                    <option value="116">Lao People's Democratic Republic</option>
                                                    <option value="117">Latvia</option>
                                                    <option value="118">Lebanon</option>
                                                    <option value="119">Lesotho</option>
                                                    <option value="120">Liberia</option>
                                                    <option value="121">Libyan Arab Jamahiriya</option>
                                                    <option value="122">Liechtenstein</option>
                                                    <option value="123">Lithuania</option>
                                                    <option value="124">Luxembourg</option>
                                                    <option value="125">Macau</option>
                                                    <option value="127">Madagascar</option>
                                                    <option value="128">Malawi</option>
                                                    <option value="129">Malaysia</option>
                                                    <option value="130">Maldives</option>
                                                    <option value="131">Mali</option>
                                                    <option value="132">Malta</option>
                                                    <option value="133">Marshall Islands</option>
                                                    <option value="134">Martinique</option>
                                                    <option value="135">Mauritania</option>
                                                    <option value="136">Mauritius</option>
                                                    <option value="137">Mayotte</option>
                                                    <option value="138">Mexico</option>
                                                    <option value="139">Micronesia, Federated States of</option>
                                                    <option value="140">Moldova, Republic of</option>
                                                    <option value="141">Monaco</option>
                                                    <option value="142">Mongolia</option>
                                                    <option value="242">Montenegro</option>
                                                    <option value="143">Montserrat</option>
                                                    <option value="144">Morocco</option>
                                                    <option value="145">Mozambique</option>
                                                    <option value="146">Myanmar</option>
                                                    <option value="147">Namibia</option>
                                                    <option value="148">Nauru</option>
                                                    <option value="149">Nepal</option>
                                                    <option value="150">Netherlands</option>
                                                    <option value="151">Netherlands Antilles</option>
                                                    <option value="152">New Caledonia</option>
                                                    <option value="153">New Zealand</option>
                                                    <option value="154">Nicaragua</option>
                                                    <option value="155">Niger</option>
                                                    <option value="156">Nigeria</option>
                                                    <option value="157">Niue</option>
                                                    <option value="158">Norfolk Island</option>
                                                    <option value="112">North Korea</option>
                                                    <option value="159">Northern Mariana Islands</option>
                                                    <option value="160">Norway</option>
                                                    <option value="161">Oman</option>
                                                    <option value="162">Pakistan</option>
                                                    <option value="163">Palau</option>
                                                    <option value="247">Palestinian Territory, Occupied</option>
                                                    <option value="164">Panama</option>
                                                    <option value="165">Papua New Guinea</option>
                                                    <option value="166">Paraguay</option>
                                                    <option value="167">Peru</option>
                                                    <option value="168">Philippines</option>
                                                    <option value="169">Pitcairn</option>
                                                    <option value="170">Poland</option>
                                                    <option value="171">Portugal</option>
                                                    <option value="172">Puerto Rico</option>
                                                    <option value="173">Qatar</option>
                                                    <option value="174">Reunion</option>
                                                    <option value="175">Romania</option>
                                                    <option value="176">Russian Federation</option>
                                                    <option value="177">Rwanda</option>
                                                    <option value="178">Saint Kitts and Nevis</option>
                                                    <option value="179">Saint Lucia</option>
                                                    <option value="180">Saint Vincent and the Grenadines</option>
                                                    <option value="181">Samoa</option>
                                                    <option value="182">San Marino</option>
                                                    <option value="183">Sao Tome and Principe</option>
                                                    <option value="184">Saudi Arabia</option>
                                                    <option value="185">Senegal</option>
                                                    <option value="243">Serbia</option>
                                                    <option value="186">Seychelles</option>
                                                    <option value="187">Sierra Leone</option>
                                                    <option value="188">Singapore</option>
                                                    <option value="189">Slovak Republic</option>
                                                    <option value="190">Slovenia</option>
                                                    <option value="191">Solomon Islands</option>
                                                    <option value="192">Somalia</option>
                                                    <option value="193">South Africa</option>
                                                    <option value="194">South Georgia &amp; South Sandwich Islands</option>
                                                    <option value="248">South Sudan</option>
                                                    <option value="195">Spain</option>
                                                    <option value="196">Sri Lanka</option>
                                                    <option value="249">St. Barthelemy</option>
                                                    <option value="197">St. Helena</option>
                                                    <option value="250">St. Martin (French part)</option>
                                                    <option value="198">St. Pierre and Miquelon</option>
                                                    <option value="199">Sudan</option>
                                                    <option value="200">Suriname</option>
                                                    <option value="201">Svalbard and Jan Mayen Islands</option>
                                                    <option value="202">Swaziland</option>
                                                    <option value="203">Sweden</option>
                                                    <option value="204">Switzerland</option>
                                                    <option value="205">Syrian Arab Republic</option>
                                                    <option value="206">Taiwan</option>
                                                    <option value="207">Tajikistan</option>
                                                    <option value="208">Tanzania, United Republic of</option>
                                                    <option value="209">Thailand</option>
                                                    <option value="210">Togo</option>
                                                    <option value="211">Tokelau</option>
                                                    <option value="212">Tonga</option>
                                                    <option value="213">Trinidad and Tobago</option>
                                                    <option value="255">Tristan da Cunha</option>
                                                    <option value="214">Tunisia</option>
                                                    <option value="215">Turkey</option>
                                                    <option value="216">Turkmenistan</option>
                                                    <option value="217">Turks and Caicos Islands</option>
                                                    <option value="218">Tuvalu</option>
                                                    <option value="219">Uganda</option>
                                                    <option value="220">Ukraine</option>
                                                    <option value="221">United Arab Emirates</option>
                                                    <option value="222">United Kingdom</option>
                                                    <option value="223">United States</option>
                                                    <option value="224">United States Minor Outlying Islands</option>
                                                    <option value="225">Uruguay</option>
                                                    <option value="226">Uzbekistan</option>
                                                    <option value="227">Vanuatu</option>
                                                    <option value="228">Vatican City State (Holy See)</option>
                                                    <option value="229">Venezuela</option>
                                                    <option value="230">Viet Nam</option>
                                                    <option value="231">Virgin Islands (British)</option>
                                                    <option value="232">Virgin Islands (U.S.)</option>
                                                    <option value="233">Wallis and Futuna Islands</option>
                                                    <option value="234">Western Sahara</option>
                                                    <option value="235">Yemen</option>
                                                    <option value="238">Zambia</option>
                                                    <option value="239">Zimbabwe</option>
                                                </select>
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-payment-zone" class="control-label">Region / State</label>
                                                <select class="form-control" id="input-payment-zone" name="zone_id">
                                                  <option value="11">Aceh</option>
                                                  <option value="12">Sumatera Utara</option>
                                                  <option value="13">Sumatera Barat</option>
                                                  <option value="14">Riau</option>
                                                  <option value="15">Jambi</option>
                                                  <option value="16">Sumatera Selatan</option>
                                                  <option value="17">Bengkulu</option>
                                                  <option value="18">Lampung</option>
                                                  <option value="19">Kepulauan Bangka Belitung</option>
                                                  <option value="21">Kepulauan Riau</option> 
                                                  <option value="31">Dki Jakarta</option>
                                                  <option value="32">Jawa Barat</option>
                                                  <option value="33">Jawa Tengah</option>
                                                  <option value="34">Di Yogyakarta</option>
                                                  <option value="35">Jawa Timur</option>
                                                  <option value="36">Banten</option>
                                                  <option value="51">Bali</option>
                                                  <option value="52">Nusa Tenggara Barat</option>
                                                  <option value="53">Nusa Tenggara Timur</option>
                                                  <option value="61">Kalimantan Barat</option>
                                                  <option value="62">Kalimantan Tengah</option>
                                                  <option value="63">Kalimantan Selatan</option>
                                                  <option value="64">Kalimantan Timur</option>
                                                  <option value="65">Kalimantan Utara</option>
                                                  <option value="71">Sulawesi Utara</option>
                                                  <option value="72">Sulawesi Tengah</option>
                                                  <option value="73">Sulawesi Selatan</option>
                                                  <option value="74">Sulawesi Tenggara</option>
                                                  <option value="75">Gorontalo</option>
                                                  <option value="76">Sulawesi Barat</option>
                                                  <option value="81">Maluku</option>
                                                  <option value="82">Maluku Utara</option>
                                                  <option value="91">Papua Barat</option>
                                                  <option value="94">Papua</option>
                                                </select>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" checked="checked" value="1" name="shipping_address"> My delivery and billing addresses are the same.</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-truck"></i> Delivery Method</h4>
                                            </div>
                                            <div class="panel-body">
                                                <p>Please select the preferred shipping method to use on this order.</p>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" value="free" checked="checked" name="shipping_method"> Free Shipping - Rp 0</label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" value="flat" name="shipping_method"> Flat Shipping Rate - Rp 20.000</label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" value="per-item" name="shipping_method"> Per Item Shipping Rate - Rp 35.000</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-credit-card"></i> Payment Method</h4>
                                            </div>
                                            <div class="panel-body">
                                                <p>Please select the preferred payment method to use on this order.</p>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" value="cod" checked="checked" name="payment_method"> Cash On Delivery</label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" value="transfer" name="payment_method"> Bank Transfer</label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" value="paypal" name="payment_method"> Paypal
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-ticket"></i> Use Coupon Code</h4>
                                            </div>
                                            <div class="panel-body">
                                                <label for="input-coupon" class="col-sm-3 control-label">Enter coupon code</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="input-coupon" placeholder="Enter your coupon here" value="" name="coupon">
                                                    <span class="input-group-btn">
                          <input type="button" class="btn btn-primary" data-loading-text="Loading..." id="button-coupon" value="Apply Coupon">
                          </span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-gift"></i> Use Gift Voucher</h4>
                                            </div>
                                            <div class="panel-body">
                                                <label for="input-voucher" class="col-sm-3 control-label">Enter gift voucher code</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="input-voucher" placeholder="Enter your gift voucher code here" value="" name="voucher">
                                                    <span class="input-group-btn">
                          <input type="submit" class="btn btn-primary" data-loading-text="Loading..." id="button-voucher" value="Apply Voucher">
                          </span> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-shopping-cart"></i> Shopping cart</h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <td class="text-center">Image</td>
                                                                <td class="text-left">Product Name</td>
                                                                <td class="text-left">Quantity</td>
                                                                <td class="text-right">Unit Price</td>
                                                                <td class="text-right">Total</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                          {{ #items }}
                                                            <tr>
                                                                <td class="text-center">
                                                                    <a href="product.html"><img src="image/product/sony_vaio_1-50x75.jpg" alt="Xitefun Causal Wear Fancy Shoes" title="Xitefun Causal Wear Fancy Shoes" class="img-thumbnail"></a>
                                                                </td>
                                                                <td class="text-left"><a href="product.html">{{name}}</a></td>
                                                                <td class="text-left">
                                                                    <div class="input-group btn-block" style="max-width: 200px;">
                                                                      <input type="text" name="quantity" value="{{quantity}}" size="1" class="form-control">
                                                                        <span class="input-group-btn">
                                    <button type="submit" data-toggle="tooltip" title="Update" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-danger" onClick=""><i class="fa fa-times-circle"></i></button>
                                    </span></div>
                                                                </td>
                                                                <td class="text-right">Rp {{price}}</td>
                                                                <td class="text-right">Rp {{totalPrice}}</td>
                                                            </tr>
                                                          {{ /items }}

                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>Sub-Total:</strong></td>
                                                                <td class="text-right">Rp {{subTotal}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>Flat Shipping Rate:</strong></td>
                                                                <td class="text-right">Rp 0</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>Eco Tax (-2.00):</strong></td>
                                                                <td class="text-right">Rp {{ecoTax}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>VAT (20%):</strong></td>
                                                                <td class="text-right">Rp 0</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>Total:</strong></td>
                                                                <td class="text-right">{{total}}</td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-pencil"></i> Add Comments About Your Order</h4>
                                            </div>
                                            <div class="panel-body">
                                                <textarea rows="4" class="form-control" id="confirm_comment" name="comments"></textarea>
                                                <br>
                                                <label class="control-label" for="confirm_agree">
                                                    <input type="checkbox" checked="checked" value="1" required="" class="validate required" id="confirm_agree" name="confirm agree">
                                                    <span>I have read and agree to the <a class="agree" href="#"><b>Terms &amp; Conditions</b></a></span> </label>
                                                <div class="buttons">
                                                    <div class="pull-right">
                                                      <input type="submit" value="Confirm Order" class="btn btn-primary"></input>
                                                    </div>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Middle Part End -->
                </div>
            </div>
        </div>
      <!--Footer Start-->
      <footer id="footer">
          <div class="fpart-first">
              <div class="container">
                  <div class="row">
                      <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                          <h5>Contact Details</h5>
                          <ul>
                              <li class="address"><i class="fa fa-map-marker"></i>Mangga Dua Mall Lt. 5 Blok C No. 101-106</li>
                              <li class="mobile"><i class="fa fa-phone"></i>(021) 30430333</li>
                              <li class="email"><i class="fa fa-envelope"></i>Send email via our <a href="contact-us.html">Contact Us</a>
                          </ul>
                      </div>
                      <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                          <h5>Information</h5>
                          <ul>
                              <li><a href="about-us.html">About Us</a></li>
                              <li><a href="about-us.html">Delivery Information</a></li>
                              <li><a href="about-us.html">Privacy Policy</a></li>
                              <li><a href="about-us.html">Terms &amp; Conditions</a></li>
                          </ul>
                      </div>
                      <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                          <h5>Customer Service</h5>
                          <ul>
                              <li><a href="contact-us.html">Contact Us</a></li>
                              <li><a href="#">Returns</a></li>
                              <li><a href="sitemap.html">Site Map</a></li>
                          </ul>
                      </div>
                      <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                          <h5>Extras</h5>
                          <ul>
                              <li><a href="#">Brands</a></li>
                              <li><a href="#">Gift Vouchers</a></li>
                              <li><a href="#">Affiliates</a></li>
                              <li><a href="#">Specials</a></li>
                          </ul>
                      </div>
                      <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                          <h5>My Account</h5>
                          <ul>
                              <li><a href="#">My Account</a></li>
                              <li><a href="#">Order History</a></li>
                              <li><a href="#">Wish List</a></li>
                              <li><a href="#">Newsletter</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>

          <div id="back-top"><a data-toggle="tooltip" title="Back to Top" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
      </footer>
      <!--Footer End-->
    </div>
    <!-- JS Part Start-->
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing-1.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.dcjqaccordion.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <!-- JS Part End-->
</body>

</html>
