<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="image/favicon.png" rel="icon" />
    <title>Warung Merah</title>
    <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
    <!-- CSS Part Start-->
    <link rel="stylesheet" type="text/css" href="js/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.transitions.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="css/stylesheet-skin3.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- CSS Part End-->
</head>

<body>
    <div class="wrapper-wide">
      <div id="header">

          <!-- Header Start-->
          <header class="header-row">
              <div class="container">
                  <div class="table-container">
                      <!-- Logo Start -->
                      <div class="col-table-cell col-lg-4 col-md-4 col-sm-12 col-xs-12 inner">
                          <div id="logo">
                              <a href="index.html"><img class="img-responsive" src="image/banner/logo.png" style="width: 50%" title="MarketShop" alt="MarketShop" /></a>
                          </div>
                      </div>
                      <!-- Logo End -->
                      <!-- Search Start-->
                      <div class="col-table-cell col-lg-5 col-md-5 col-md-push-0 col-sm-6 col-sm-push-6 col-xs-12">
                          <div id="search" class="input-group">
                              <input id="filter_name" type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                              <button type="button" class="button-search"><i class="fa fa-search"></i></button>
                          </div>
                      </div>
                      <!-- Search End-->
                      <!-- Mini Cart Start-->
                      <div class="col-table-cell col-lg-3 col-md-3 col-md-pull-0 col-sm-6 col-sm-pull-6 col-xs-12 inner">
                          <div id="cart">
                              <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="heading dropdown-toggle"> <span class="cart-icon pull-left flip"></span> <span id="cart-total">2 item(s) - Rp 1,132.00</span></button>
                              <ul class="dropdown-menu">
                                  <li>
                                      <table class="table">
                                          <tbody>
                                              <tr>
                                                  <td class="text-center">
                                                      <a href="#"><img class="img-thumbnail" title="Xitefun Causal Wear Fancy Shoes" alt="Xitefun Causal Wear Fancy Shoes" src="image/banner/sepatu.jpg"></a>
                                                  </td>
                                                  <td class="text-left"><a href="#">Xitefun Causal Wear Fancy Shoes</a></td>
                                                  <td class="text-right">x 1</td>
                                                  <td class="text-right">Rp 902.00</td>
                                                  <td class="text-center">
                                                      <button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td class="text-center">
                                                      <a href="#"><img class="img-thumbnail" title="Aspire Ultrabook Laptop" alt="Aspire Ultrabook Laptop" src="image/product/samsung_tab_1-50x50.jpg"></a>
                                                  </td>
                                                  <td class="text-left"><a href="#">Aspire Ultrabook Laptop</a></td>
                                                  <td class="text-right">x 1</td>
                                                  <td class="text-right">Rp 230.00</td>
                                                  <td class="text-center">
                                                      <button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button>
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </li>
                                  <li>
                                      <div>
                                          <table class="table table-bordered">
                                              <tbody>
                                                  <tr>
                                                      <td class="text-right"><strong>Sub-Total</strong></td>
                                                      <td class="text-right">Rp 940.00</td>
                                                  </tr>
                                                  <tr>
                                                      <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                                                      <td class="text-right">Rp 4.00</td>
                                                  </tr>
                                                  <tr>
                                                      <td class="text-right"><strong>VAT (20%)</strong></td>
                                                      <td class="text-right">Rp 188.00</td>
                                                  </tr>
                                                  <tr>
                                                      <td class="text-right"><strong>Total</strong></td>
                                                      <td class="text-right">Rp 1,132.00</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                          <p class="checkout"><a href="cart.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> View Cart</a>&nbsp;&nbsp;&nbsp;<a href="checkout.html" class="btn btn-primary"><i class="fa fa-share"></i> Checkout</a></p>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <!-- Mini Cart End-->
                  </div>
              </div>
          </header>
          <!-- Header End-->
          <!-- Main Menu Start-->
          <nav id="menu" class="navbar">
              <div class="container">
                  <div class="navbar-header"> <span class="visible-xs visible-sm"> Menu <b></b></span></div>
                  <div class="collapse navbar-collapse navbar-ex1-collapse">
                      <ul class="nav navbar-nav">
                          <li><a class="home_link" title="Home" href="index.html"><span>Home</span></a></li>
                          <li class="dropdown"><a>Shop by Categories</a>
                              <div class="dropdown-menu">
                                  <ul>
                                      <li> <a href="category.html">Clothing<span>&rsaquo;</span></a>
                                          <div class="dropdown-menu">
                                              <ul>
                                                  <li><a href="category.html">Men <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li><a href="category.html">Sub Categories</a></li>
                                                              <li><a href="category.html">Sub Categories</a></li>
                                                              <li><a href="category.html">Sub Categories</a></li>
                                                              <li><a href="category.html">Sub Categories</a></li>
                                                              <li><a href="category.html">Sub Categories New</a></li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                                  <li><a href="category.html">Women</a> </li>
                                                  <li><a href="category.html">Girls<span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li><a href="category.html">Sub Categories </a></li>
                                                              <li><a href="category.html">Sub Categories New</a></li>
                                                              <li><a href="category.html">Sub Categories New</a></li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                                  <li><a href="category.html">Boys</a></li>
                                                  <li><a href="category.html">Baby</a></li>
                                                  <li><a href="category.html">Accessories <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li><a href="category.html">New Sub Categories</a></li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li> <a href="category.html">Electronics<span>&rsaquo;</span></a>
                                          <div class="dropdown-menu">
                                              <ul>
                                                  <li> <a href="category.html">Laptops <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li> <a href="category.html">New Sub Categories </a> </li>
                                                              <li> <a href="category.html">New Sub Categories </a> </li>
                                                              <li> <a href="category.html">Sub Categories New </a> </li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                                  <li> <a href="category.html">Desktops <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li> <a href="category.html">New Sub Categories </a> </li>
                                                              <li> <a href="category.html">Sub Categories New </a> </li>
                                                              <li> <a href="category.html">Sub Categories New </a> </li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                                  <li> <a href="category.html">Cameras <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li> <a href="category.html">New Sub Categories</a></li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                                  <li><a href="category.html">Mobile Phones <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li><a href="category.html">New Sub Categories</a></li>
                                                              <li><a href="category.html">New Sub Categories</a></li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                                  <li><a href="category.html">TV &amp; Home Audio <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li><a href="category.html">New Sub Categories </a> </li>
                                                              <li><a href="category.html">Sub Categories New </a> </li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                                  <li><a href="category.html">MP3 Players</a> </li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li><a href="category.html">Shoes<span>&rsaquo;</span></a>
                                          <div class="dropdown-menu">
                                              <ul>
                                                  <li><a href="category.html">Men</a> </li>
                                                  <li><a href="category.html">Women <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li><a href="category.html">New Sub Categories </a> </li>
                                                              <li><a href="category.html">Sub Categories </a> </li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                                  <li><a href="category.html">Girls</a> </li>
                                                  <li><a href="category.html">Boys</a> </li>
                                                  <li><a href="category.html">Baby</a> </li>
                                                  <li><a href="category.html">Accessories <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li><a href="category.html">New Sub Categories</a></li>
                                                              <li><a href="category.html">New Sub Categories</a></li>
                                                              <li><a href="category.html">Sub Categories</a></li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li> <a href="category.html">Watches<span>&rsaquo;</span></a>
                                          <div class="dropdown-menu">
                                              <ul>
                                                  <li> <a href="category.html">Men's Watches</a></li>
                                                  <li> <a href="category.html">Women's Watches</a></li>
                                                  <li> <a href="category.html">Kids' Watches</a></li>
                                                  <li> <a href="category.html">Accessories</a></li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li> <a href="category.html">Jewellery<span>&rsaquo;</span></a>
                                          <div class="dropdown-menu">
                                              <ul>
                                                  <li> <a href="category.html">Silver <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li> <a href="category.html">New Sub Categories</a></li>
                                                              <li> <a href="category.html">New Sub Categories</a></li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                                  <li><a href="category.html">Gold <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li><a href="category.html">test 1</a></li>
                                                              <li><a href="category.html">test 2</a></li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                                  <li><a href="category.html">Diamond</a></li>
                                                  <li><a href="category.html">Pearl <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li><a href="category.html">New Sub Categories</a></li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                                  <li><a href="category.html">Men's Jewellery</a></li>
                                                  <li><a href="category.html">Children's Jewellery <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li><a href="category.html">New Sub Categories </a> </li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li><a href="category.html">Drone &amp; & Gopro<span>&rsaquo;</span></a>
                                          <div class="dropdown-menu">
                                              <ul>
                                                  <li> <a href="category.html">Perfumes</a></li>
                                                  <li> <a href="category.html">Makeup</a></li>
                                                  <li> <a href="category.html">Sun Care</a></li>
                                                  <li> <a href="category.html">Skin Care</a></li>
                                                  <li> <a href="category.html">Eye Care</a></li>
                                                  <li> <a href="category.html">Hair Care</a></li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li> <a href="category.html">Kids &amp; Babies<span>&rsaquo;</span></a>
                                          <div class="dropdown-menu">
                                              <ul>
                                                  <li><a href="category.html">Toys</a></li>
                                                  <li><a href="category.html">Games <span>&rsaquo;</span></a>
                                                      <div class="dropdown-menu">
                                                          <ul>
                                                              <li><a href="category.html">test 25</a></li>
                                                          </ul>
                                                      </div>
                                                  </li>
                                                  <li><a href="category.html">Puzzles</a></li>
                                                  <li><a href="category.html">Hobbies</a></li>
                                                  <li><a href="category.html">Strollers</a></li>
                                                  <li><a href="category.html">Health &amp; Safety</a></li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li> <a href="category.html">Sports<span>&rsaquo;</span></a>
                                          <div class="dropdown-menu">
                                              <ul>
                                                  <li><a href="category.html">Cycling</a></li>
                                                  <li><a href="category.html">Running</a></li>
                                                  <li><a href="category.html">Swimming</a></li>
                                                  <li><a href="category.html">Football</a></li>
                                                  <li><a href="category.html">Golf</a></li>
                                                  <li><a href="category.html">Windsurfing</a></li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li> <a href="category.html">Home &amp; Garden<span>&rsaquo;</span></a>
                                          <div class="dropdown-menu">
                                              <ul>
                                                  <li><a href="category.html">Bedding</a></li>
                                                  <li><a href="category.html">Food</a></li>
                                                  <li><a href="category.html">Furniture</a></li>
                                                  <li><a href="category.html">Kitchen</a></li>
                                                  <li><a href="category.html">Lighting</a></li>
                                                  <li><a href="category.html">Tools</a></li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li> <a href="category.html">Wines &amp; Spirits<span>&rsaquo;</span></a>
                                          <div class="dropdown-menu">
                                              <ul>
                                                  <li><a href="category.html">Wine</a></li>
                                                  <li><a href="category.html">Whiskey</a></li>
                                                  <li><a href="category.html">Vodka</a></li>
                                                  <li><a href="category.html">Liqueurs</a></li>
                                                  <li><a href="category.html">Beer</a></li>
                                              </ul>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </li>
                          <li class="menu_brands dropdown"><a href="#">Brands</a>
                              <div class="dropdown-menu">
                                  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                      <a href="#"><img src="image/product/apple_logo-60x60.jpg" title="Apple" alt="Apple" /></a><a href="#">Apple</a></div>
                                  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                      <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="Canon" alt="Canon" /></a><a href="#">Canon</a></div>
                                  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                      <a href="#"><img src="image/product/hp_logo-60x60.jpg" title="Hewlett-Packard" alt="Hewlett-Packard" /></a><a href="#">Hewlett-Packard</a></div>
                                  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                      <a href="#"><img src="image/product/htc_logo-60x60.jpg" title="HTC" alt="HTC" /></a><a href="#">HTC</a></div>
                                  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                      <a href="#"><img src="image/product/palm_logo-60x60.jpg" title="Palm" alt="Palm" /></a><a href="#">Palm</a></div>
                                  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                      <a href="#"><img src="image/product/sony_logo-60x60.jpg" title="Sony" alt="Sony" /></a><a href="#">Sony</a> </div>
                                  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                      <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="test" alt="test" /></a><a href="#">test</a> </div>
                                  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                      <a href="#"><img src="image/product/apple_logo-60x60.jpg" title="test 3" alt="test 3" /></a><a href="#">test 3</a></div>
                                  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                      <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="test 5" alt="test 5" /></a><a href="#">test 5</a> </div>
                                  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                      <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="test 6" alt="test 6" /></a><a href="#">test 6</a></div>
                                  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                      <a href="#"><img src="image/product/apple_logo-60x60.jpg" title="test 7" alt="test 7" /></a><a href="#">test 7</a> </div>
                                  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                      <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="test1" alt="test1" /></a><a href="#">test1</a></div>
                                  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                      <a href="#"><img src="image/product/apple_logo-60x60.jpg" title="test2" alt="test2" /></a><a href="#">test2</a></div>
                              </div>
                          </li>
                          <li class="contact-link"><a href="contact-us.html">Contact Us</a></li>
                      </ul>
                  </div>
              </div>
          </nav>
          <!-- Main Menu End-->
      </div>
      <div id="container">
          <div class="container">
              <div class="row">
                  <!--Middle Part Start-->
                  <div id="content" class="col-xs-12">
                      <div class="row">
                          <div class="col-sm-8">
                              <!-- Slideshow Start-->
                              <div class="slideshow single-slider owl-carousel">
                                  <div class="item">
                                      <a href="#"><img class="img-responsive" src="image/slider/banner-1-750x400.jpg" alt="banner 1" /></a>
                                  </div>
                                  <div class="item">
                                      <a href="#"><img class="img-responsive" src="image/slider/banner-2-750x400.jpg" alt="banner 2" /></a>
                                  </div>
                                  <div class="item">
                                      <a href="#"><img class="img-responsive" src="image/slider/banner-3-750x400.jpg" alt="banner 3" /></a>
                                  </div>
                              </div>
                              <!-- Slideshow End-->
                          </div>
                          <div class="col-sm-4 pull-right flip">
                              <div class="marketshop-banner">
                                  <div class="row">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <a href="#"><img title="sample-banner1" alt="sample-banner1" src="image/banner/1a.png"></a>
                                      </div>
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <a href="#"><img title="sample-banner" alt="sample-banner" src="image/banner/asa.jpg"></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Bestsellers Product Start-->
                      <h3 class="subtitle">Bestseller</h3>
                      <div class="owl-carousel product_carousel">

                        {{#bestSellers}}
                        <div class="product-thumb clearfix">
                            <div class="image">
                              <a href="/products/{{id}}"><img src="{{image_uri}}" alt="{{name}}" title="{{name}}" class="img-responsive" /></a>
                            </div>
                            <div class="caption">
                              <h4><a href="/products/{{id}}">{{name}}</a></h4>
                              <p class="price"> Rp {{price}}</p>
                                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to Wish List" onClick=""><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Compare this Product" onClick=""><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                        {{/bestSellers}}

                      </div>
                      <!-- Featured Product End-->
                      <!-- Banner Start-->
                      <div class="marketshop-banner">
                          <div class="row">
                              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                  <a href="#"><img title="Sample Banner 2" alt="Sample Banner 2" src="image/banner/1.png"></a>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                  <a href="#"><img title="Sample Banner" alt="Sample Banner" src="image/banner/2.png"></a>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                  <a href="#"><img title="Sample Banner 3" alt="Sample Banner 3" src="image/banner/1.png"></a>
                              </div>
                          </div>
                      </div>
                      <!-- Banner End-->
                      <!-- Categories Product Slider Start-->
                      <div class="category-module" id="latest_category">
                          <h3 class="subtitle">Electronics - <a class="viewall" href="category.tpl">view all</a></h3>
                          <div class="category-module-content">
                              <ul id="sub-cat" class="tabs">
                                  <li><a href="#tab-cat1">Smartphones</a></li>
                                  <li><a href="#tab-cat2">Desktops</a></li>
                                  <li><a href="#tab-cat3">Cameras</a></li>
                                  <li><a href="#tab-cat4">Laptops</a></li>
                                  <li><a href="#tab-cat5">TV &amp; Home Audio</a></li>
                                  <li><a href="#tab-cat6">MP3 Players</a></li>
                              </ul>
                              <div id="tab-cat1" class="tab_content">
                                  <div class="owl-carousel latest_category_tabs">
                                    <div class="product-thumb">
                                        <div class="image">
                                            <a href="content/smartphone/samsung-galaxy-s8-midnight-black.html"><img src="image/product/s200/200-1.jpg" alt="SAMSUNG Galaxy S8 - Midnight Black" title="SAMSUNG Galaxy S8 - Midnight Black" class="img-responsive" /></a>
                                        </div>
                                        <div class="caption">
                                            <h4><a href="content/smartphone/samsung-galaxy-s8-midnight-black.html">SAMSUNG Galaxy S8 - Midnight Black</a></h4>
                                            <p class="price"> <span class="price-new">Rp Rp 8.549.050</span> <span class="price-old">Rp 8.999.000</span> <span class="saving">-5%</span> </p>
                                            <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                        </div>
                                        <div class="button-group">
                                            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                            <div class="add-to-links">
                                                <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-thumb">
                                        <div class="image">
                                            <a href="content/smartphone/asus-zenfone-4-selfie.html"><img src="image/product/s200/200-2.jpg" alt="ASUS Zenfone 4 Selfie" title="ASUS Zenfone 4 Selfie" class="img-responsive" /></a>
                                        </div>
                                        <div class="caption">
                                            <h4><a href="content/smartphone/asus-zenfone-4-selfie.html"> ASUS Zenfone 4 Selfie </a></h4>
                                            <p class="price"> <span class="price-new">Rp 2.183.000</span> <span class="price-old">Rp 2.950.000</span> <span class="saving">-26%</span> </p>
                                        </div>
                                        <div class="button-group">
                                            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                            <div class="add-to-links">
                                                <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-thumb">
                                        <div class="image">
                                            <a href="content/smartphone/oppo-f3-black.html"><img src="image/product/s200/200-3.jpg" alt="Oppo F3 Black" title="Oppo F3 Black" class="img-responsive" /></a>
                                        </div>
                                        <div class="caption">
                                            <h4><a href="content/smartphone/oppo-f3-black.html">Oppo F3 Black</a></h4>
                                            <p class="price"> <span class="price-new">Rp 3.752.500</span> <span class="price-old">Rp 3.950.000</span> <span class="saving">-5%</span> </p>
                                        </div>
                                        <div class="button-group">
                                            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                            <div class="add-to-links">
                                                <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-thumb">
                                        <div class="image">
                                            <a href="content/smartphone/lenovo-vibe-k5-plus.html"><img src="image/product/s200/200-4.jpg" alt="LENOVO Vibe K5 Plus (16GB/3GB RAM)" title="LENOVO Vibe K5 Plus (16GB/3GB RAM)" class="img-responsive" /></a>
                                        </div>
                                        <div class="caption">
                                            <h4><a href="content/smartphone/lenovo-vibe-k5-plus.html">LENOVO Vibe K5 Plus (16GB/3GB RAM)</a></h4>
                                            <p class="price"> Rp 1.950.000 </p>
                                            <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                        </div>
                                        <div class="button-group">
                                            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                            <div class="add-to-links">
                                                <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-thumb">
                                        <div class="image">
                                            <a href="content/smartphone/apple-iphone-7-plus-256gb-rose-gold.html"><img src="image/product/s200/200-5.jpg" alt="Apple iPhone 7 Plus 256GB - Rose Gold" title="Apple iPhone 7 Plus 256GB - Rose Gold" class="img-responsive" /></a>
                                        </div>
                                        <div class="caption">
                                            <h4><a href="content/smartphone/apple-iphone-7-plus-256gb-rose-gold.html">Apple iPhone 7 Plus 256GB - Rose Gold</a></h4>
                                            <p class="price"> Rp 12.369.000 </p>
                                        </div>
                                        <div class="button-group">
                                            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                            <div class="add-to-links">
                                                <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-thumb">
                                        <div class="image">
                                            <a href="content/smartphone/apple-iphone-7-256gb-jet-black.html"><img src="image/product/s200/200-6.jpg" alt="Apple iPhone 7 256GB - Jet Black" title="Apple iPhone 7 256GB - Jet Black" class="img-responsive" /></a>
                                        </div>
                                        <div class="caption">
                                            <h4><a href="content/smartphone/apple-iphone-7-256gb-jet-black.html">Apple iPhone 7 256GB - Jet Black</a></h4>
                                            <p class="price"> <span class="price-new">Rp 7.799.500</span> <span class="price-old">Rp 15.599.000</span> <span class="saving">-50%</span> </p>
                                        </div>
                                        <div class="button-group">
                                            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                            <div class="add-to-links">
                                                <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <div id="tab-cat2" class="tab_content">
                                  <div class="owl-carousel latest_category_tabs">
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/ipod_shuffle_1-200x200.jpg" alt="Hp Pavilion G6 2314ax Notebok Laptop" title="Hp Pavilion G6 2314ax Notebok Laptop" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">Hp Pavilion G6 2314ax Notebok Laptop</a></h4>
                                              <p class="price"> Rp 122.00 </p>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div id="tab-cat3" class="tab_content">
                                  <div class="owl-carousel latest_category_tabs">
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/FinePix-Long-Zoom-Camera-200x200.jpg" alt="FinePix S8400W Long Zoom Camera" title="FinePix S8400W Long Zoom Camera" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">FinePix S8400W Long Zoom Camera</a></h4>
                                              <p class="price"> Rp 122.00 </p>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/nikon_d300_1-200x200.jpg" alt="Digital Camera for Elderly" title="Digital Camera for Elderly" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">Digital Camera for Elderly</a></h4>
                                              <p class="price"> <span class="price-new">Rp 92.00</span> <span class="price-old">Rp 98.00</span> <span class="saving">-6%</span> </p>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div id="tab-cat4" class="tab_content">
                                  <div class="owl-carousel latest_category_tabs">
                        <div class="product-thumb clearfix">
                            <div class="image">
                                <a href="content/laptop/asus-zenbook-flip.html"><img src="image/product/l200/200-1.jpg" alt="ASUS Zenbook Flip" title="ASUS Zenbook Flip" class="img-responsive" /></a>
                            </div>
                            <div class="caption">
                                <h4><a href="content/laptop/asus-zenbook-flip.html">ASUS Zenbook Flip</a></h4>
                                <p class="price"> Rp 11.800.000 </p>
                                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to Wish List" onClick=""><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Compare this Product" onClick=""><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="product-thumb clearfix">
                            <div class="image">
                                <a href="content/laptop/asus-notebook-x455lj.html"><img src="image/product/l200/200-2.jpg" alt="ASUS Notebook X455LJ" title="ASUS Notebook X455LJ" class="img-responsive" /></a>
                            </div>
                            <div class="caption">
                                <h4><a href="content/laptop/asus-notebook-x455lj.html">ASUS Notebook X455LJ</a></h4>
                                <p class="price"> <span class="price-new">Rp 4.879.200</span> <span class="price-old">Rp 6.099.000</span> <span class="saving">-20%</span> </p>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to Wish List" onClick=""><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Compare this Product" onClick=""><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="product-thumb clearfix">
                            <div class="image">
                                <a href="content/laptop/asus-zenbook-ux303ub.html"><img src="image/product/l200/200-3.jpg" alt="ASUS ZenBook UX303UB" title="ASUS ZenBook UX303UB" class="img-responsive" /></a>
                            </div>
                            <div class="caption">
                                <h4><a href="content/laptop/asus-zenbook-ux303ub.html">ASUS ZenBook UX303UB</a></h4>
                                <p class="price"> <span class="price-new">Rp 19.807.500</span> <span class="price-old">Rp 20.850.000</span> <span class="saving">-5%</span> </p>
                                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick="cart.add('49');"><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to Wish List" onClick=""><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Compare this Product" onClick=""><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="product-thumb clearfix">
                            <div class="image">
                                <a href="content/laptop/asus-rog-g551vw.html"><img src="image/product/l200/200-4.jpg" alt="ASUS ROG G551VW" title="ASUS ROG G551VW" class="img-responsive" /></a>
                            </div>
                            <div class="caption">
                                <h4><a href="content/laptop/asus-rog-g551vw.html">ASUS ROG G551VW</a></h4>
                                <p class="price"> <span class="price-new">Rp 13.387.500</span> <span class="price-old">Rp 17.850.000</span> <span class="saving">-25%</span> </p>
                                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick="cart.add('46');"><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to Wish List" onClick=""><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Compare this Product" onClick=""><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="product-thumb clearfix">
                            <div class="image">
                                <a href="content/laptop/asus-zenbook-ux330ca.html"><img src="image/product/l200/200-5.jpg" alt="ASUS ZenBook UX330CA" title="ASUS ZenBook UX330CA" class="img-responsive" /></a>
                            </div>
                            <div class="caption">
                                <h4><a href="content/laptop/asus-zenbook-ux330ca.html">ASUS ZenBook UX330CA</a></h4>
                                <p class="price"> Rp 9.560.000 </p>
                                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick="cart.add('43');"><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to Wish List" onClick=""><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Compare this Product" onClick=""><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="product-thumb clearfix">
                            <div class="image">
                                <a href="content/laptop/asus-notebook-e202sa.html"><img src="image/product/l200/200-6.jpg" alt="ASUS Notebook E202SA" title="ASUS Notebook E202SA" class="img-responsive" /></a>
                            </div>
                            <div class="caption">
                                <h4><a href="content/laptop/asus-notebook-e202sa.html">ASUS Notebook E202SA</a></h4>
                                <p class="price"><span class="price-new">Rp 3.285.000</span><span class="price-old">Rp 3.650.000</span><span class="saving">-10%</span></p>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick="cart.add('42');"><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to Wish List" onClick=""><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Compare this Product" onClick=""><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                                  </div>
                              </div>
                              <div id="tab-cat5" class="tab_content">
                                  <div class="owl-carousel latest_category_tabs">
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/samsung_tab_1-200x200.jpg" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">Aspire Ultrabook Laptop</a></h4>
                                              <p class="price"> <span class="price-new">Rp 230.00</span> <span class="price-old">Rp 241.99</span> <span class="saving">-5%</span> </p>
                                              <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/ipod_classic_1-200x200.jpg" alt="Portable Mp3 Player" title="Portable Mp3 Player" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">Portable Mp3 Player</a></h4>
                                              <p class="price"> Rp 122.00 </p>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/macbook_pro_1-200x200.jpg" alt=" Strategies for Acquiring Your Own Laptop " title=" Strategies for Acquiring Your Own Laptop " class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#"> Strategies for Acquiring Your Own Laptop </a></h4>
                                              <p class="price"> <span class="price-new">Rp 1,400.00</span> <span class="price-old">Rp 1,900.00</span> <span class="saving">-26%</span> </p>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/macbook_air_1-200x200.jpg" alt="Laptop Silver black" title="Laptop Silver black" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">Laptop Silver black</a></h4>
                                              <p class="price"> <span class="price-new">Rp 1,142.00</span> <span class="price-old">Rp 1,202.00</span> <span class="saving">-5%</span> </p>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/macbook_1-200x200.jpg" alt="Ideapad Yoga 13-59341124 Laptop" title="Ideapad Yoga 13-59341124 Laptop" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">Ideapad Yoga 13-59341124 Laptop</a></h4>
                                              <p class="price"> Rp 2.00 </p>
                                              <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/ipod_nano_1-200x200.jpg" alt="Mp3 Player" title="Mp3 Player" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">Mp3 Player</a></h4>
                                              <p class="price"> Rp 122.00 </p>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/FinePix-Long-Zoom-Camera-200x200.jpg" alt="FinePix S8400W Long Zoom Camera" title="FinePix S8400W Long Zoom Camera" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">FinePix S8400W Long Zoom Camera</a></h4>
                                              <p class="price"> Rp 122.00 </p>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/ipod_shuffle_1-200x200.jpg" alt="Hp Pavilion G6 2314ax Notebok Laptop" title="Hp Pavilion G6 2314ax Notebok Laptop" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">Hp Pavilion G6 2314ax Notebok Laptop</a></h4>
                                              <p class="price"> Rp 122.00 </p>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick="cart.add('34');"><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick="wishlist.add('34');"><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick="compare.add('34');"><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/ipod_touch_1-200x200.jpg" alt="Samsung Galaxy S4" title="Samsung Galaxy S4" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">Samsung Galaxy S4</a></h4>
                                              <p class="price"> <span class="price-new">Rp 62.00</span> <span class="price-old">Rp 122.00</span> <span class="saving">-50%</span> </p>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/nikon_d300_1-200x200.jpg" alt="Digital Camera for Elderly" title="Digital Camera for Elderly" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">Digital Camera for Elderly</a></h4>
                                              <p class="price"> <span class="price-new">Rp 92.00</span> <span class="price-old">Rp 98.00</span> <span class="saving">-6%</span> </p>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div id="tab-cat6" class="tab_content">
                                  <div class="owl-carousel latest_category_tabs">
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/ipod_classic_1-200x200.jpg" alt="Portable Mp3 Player" title="Portable Mp3 Player" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">Portable Mp3 Player</a></h4>
                                              <p class="price"> Rp 122.00 </p>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick="cart.add('48');"><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-thumb">
                                          <div class="image">
                                              <a href="#"><img src="image/product/ipod_nano_1-200x200.jpg" alt="Mp3 Player" title="Mp3 Player" class="img-responsive" /></a>
                                          </div>
                                          <div class="caption">
                                              <h4><a href="#">Mp3 Player</a></h4>
                                              <p class="price"> Rp 122.00 </p>
                                          </div>
                                          <div class="button-group">
                                              <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                              <div class="add-to-links">
                                                  <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                                  <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Categories Product Slider End-->
                      <!-- Categories Product Slider Start -->
                      <h3 class="subtitle">Accessories - <a class="viewall" href="category.html">view all</a></h3>
                      <div class="owl-carousel latest_category_carousel">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="content/accessories/razer-hammerhead-pro-v2.html"><img src="image/product/a200/200-1.jpg" alt="Razer Hammerhead Pro V2" title="Razer Hammerhead Pro V2" class="img-responsive" /></a>
                            </div>
                            <div class="caption">
                                <h4><a href="content/accessories/razer-hammerhead-pro-v2.html">Razer Hammerhead Pro V2</a></h4>
                                <p class="price"> Rp 1.100.000 </p>
                                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="product-thumb">
                            <div class="image">
                                <a href="content/accessories/corsair-raptor-k30.html"><img src="image/product/a200/200-3.jpg" alt="Corsair Raptor K30" title="Corsair Raptor K30" class="img-responsive" /></a>
                            </div>
                            <div class="caption">
                                <h4><a href="content/accessories/corsair-raptor-k30.html">Corsair Raptor K30</a></h4>
                                <p class="price"> <span class="price-new">Rp 673.195</span> <span class="price-old">Rp 922.185</span> <span class="saving">-27%</span> </p>
                                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="product-thumb">
                            <div class="image">
                                <a href="content/accessories/logitech-g430-gaming-headset.html"><img src="image/product/a200/200-2.jpg" alt="Logitech G430 Gaming Headset" title="Logitech G430 Gaming Headset" class="img-responsive" /></a>
                            </div>
                            <div class="caption">
                                <h4><a href="content/accessories/logitech-g430-gaming-headset.html">Logitech G430 Gaming Headset</a></h4>
                                <p class="price"> Rp 945.000 </p>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="product-thumb">
                            <div class="image">
                                <a href="content/accessories/steelseries-sensei-rubber.html"><img src="image/product/a200/200-6.jpg" alt="Steelseries Sensei [RAW] - Rubber" title="Steelseries Sensei [RAW] - Rubber" class="img-responsive" /></a>
                            </div>
                            <div class="caption">
                                <h4><a href="content/accessories/steelseries-sensei-rubber.html">Steelseries Sensei [RAW] - Rubber</a></h4>
                                <p class="price"> <span class="price-new">Rp 884.160</span> <span class="price-old">Rp 921.000</span> <span class="saving">-4%</span> </p>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick="cart.add('61');"><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick="wishlist.add('61');"><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Add to compare" onClick="compare.add('61');"><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="product-thumb">
                            <div class="image">
                                <a href="content/accessories/logitech-g213-prodigy-gaming-keyboard.html"><img src="image/product/a200/200-4.jpg" alt="Logitech G213 Prodigy Gaming Keyboard" title="Logitech G213 Prodigy Gaming Keyboard" class="img-responsive" /></a>
                            </div>
                            <div class="caption">
                                <h4><a href="content/accessories/logitech-g213-prodigy-gaming-keyboard.html">Logitech G213 Prodigy Gaming Keyboard</a></h4>
                                <p class="price"> Rp 580.000 </p>
                                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="product-thumb">
                            <div class="image">
                                <a href="content/accessories/razer-deathadder-2013-essential.html"><img src="image/product/a200/200-5.jpg" alt="Razer Deathadder 2013 Essential" title="Razer Deathadder 2013 Essential" class="img-responsive" /></a>
                            </div>
                            <div class="caption">
                                <h4><a href="content/accessories/razer-deathadder-2013-essential.html">Razer Deathadder 2013 Essential</a></h4>
                                <p class="price"> Rp 1.000.000 </p>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                      </div>
                      <!-- Categories Product Slider End -->
                      <!-- Banner Start -->
                      <div class="marketshop-banner">

                      </div>
                      <!-- Banner End -->
                      <!-- Brand Logo Carousel Start-->
                      <div id="carousel" class="owl-carousel nxt">
                          <div class="item text-center">
                              <a href="#"><img src="image/product/5a.jpg" alt="Palm" class="img-responsive" /></a>
                          </div>
                          <div class="item text-center">
                              <a href="#"><img src="image/product/5b.jpg" alt="Palm" class="img-responsive" /></a>
                          </div>
                          <div class="item text-center">
                              <a href="#"><img src="image/product/5c.jpg" alt="Palm" class="img-responsive" /></a>
                          </div>
                          <div class="item text-center">
                              <a href="#"><img src="image/product/5d.jpg" alt="Palm" class="img-responsive" /></a>
                          </div>
                          <div class="item text-center">
                              <a href="#"><img src="image/product/5f.jpg" alt="Palm" class="img-responsive" /></a>
                          </div>
                          <div class="item text-center">
                              <a href="#"><img src="image/product/5a.jpg" alt="Palm" class="img-responsive" /></a>
                          </div>
                          <div class="item text-center">
                              <a href="#"><img src="image/product/5b.jpg" alt="Palm" class="img-responsive" /></a>
                          </div>
                          <div class="item text-center">
                              <a href="#"><img src="image/product/5c.jpg" alt="Palm" class="img-responsive" /></a>
                          </div>
                          <div class="item text-center">
                              <a href="#"><img src="image/product/5d.jpg" alt="Palm" class="img-responsive" /></a>
                          </div>
                          <div class="item text-center">
                              <a href="#"><img src="image/product/5f.jpg" alt="Palm" class="img-responsive" /></a>
                          </div>

                      </div>
                      <!-- Brand Logo Carousel End -->
                      <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <a href="#"><img title="1 Block Banner" style="width:100%" alt="1 Block Banner" src="image/product/Screenshot_38.png"></a>
                          </div>
                      </div>
                  </div>
                  <!--Middle Part End-->
              </div>
          </div>
      </div>
      <!-- Feature Box Start-->
      <div class="container">
          <div class="custom-feature-box row">
              <div class="col-sm-4 col-xs-12">
                  <div class="feature-box fbox_1">
                      <div class="title">Free Shipping</div>
                      <p>Free shipping on order over Rp 1000</p>
                  </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                  <div class="feature-box fbox_3">
                      <div class="title">Gift Cards</div>
                      <p>Give the special perfect gift</p>
                  </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                  <div class="feature-box fbox_4">
                      <div class="title">Reward Points</div>
                      <p>Earn and spend with ease</p>
                  </div>
              </div>
          </div>
      </div>
      <!-- Feature Box End-->
      <!--Footer Start-->
      <footer id="footer">
          <div class="fpart-first">
              <div class="container">
                  <div class="row">
                      <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                          <h5>Contact Details</h5>
                          <ul>
                              <li class="address"><i class="fa fa-map-marker"></i>Mangga Dua Mall Lt. 5 Blok C No. 101-106</li>
                              <li class="mobile"><i class="fa fa-phone"></i>(021) 30430333</li>
                              <li class="email"><i class="fa fa-envelope"></i>Send email via our <a href="contact-us.html">Contact Us</a>
                          </ul>
                      </div>
                      <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                          <h5>Information</h5>
                          <ul>
                              <li><a href="about-us.html">About Us</a></li>
                              <li><a href="about-us.html">Delivery Information</a></li>
                              <li><a href="about-us.html">Privacy Policy</a></li>
                              <li><a href="about-us.html">Terms &amp; Conditions</a></li>
                          </ul>
                      </div>
                      <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                          <h5>Customer Service</h5>
                          <ul>
                              <li><a href="contact-us.html">Contact Us</a></li>
                              <li><a href="#">Returns</a></li>
                              <li><a href="sitemap.html">Site Map</a></li>
                          </ul>
                      </div>
                      <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                          <h5>Extras</h5>
                          <ul>
                              <li><a href="#">Brands</a></li>
                              <li><a href="#">Gift Vouchers</a></li>
                              <li><a href="#">Affiliates</a></li>
                              <li><a href="#">Specials</a></li>
                          </ul>
                      </div>
                      <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                          <h5>My Account</h5>
                          <ul>
                              <li><a href="#">My Account</a></li>
                              <li><a href="#">Order History</a></li>
                              <li><a href="#">Wish List</a></li>
                              <li><a href="#">Newsletter</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>

          <div id="back-top"><a data-toggle="tooltip" title="Back to Top" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
      </footer>
      <!--Footer End-->
    </div>
    <!-- JS Part Start-->
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing-1.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.dcjqaccordion.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <!-- JS Part End-->
</body>

</html>
