<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../../image/favicon.png" rel="icon" />
    <title>{{name}}</title>
    <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
    <!-- CSS Part Start-->
    <link rel="stylesheet" type="text/css" href="../../js/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="../../css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="../../css/owl.transitions.css" />
    <link rel="stylesheet" type="text/css" href="../../js/swipebox/src/css/swipebox.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="../../css/stylesheet-skin3.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- CSS Part End-->
</head>

<body>
    <div class="wrapper-wide">
        <div id="header">
            <!-- Header Start-->
            <header class="header-row">
                <div class="container">
                    <div class="table-container">
                        <!-- Logo Start -->
                        <div class="col-table-cell col-lg-4 col-md-4 col-sm-12 col-xs-12 inner">
                            <div id="logo">
                                <a href="../../index.html"><img class="img-responsive" src="../../image/banner/logo.png" style="width: 50%" title="Warung Merah" alt="Warung Merah" /></a>
                            </div>
                        </div>
                        <!-- Logo End -->
                        <!-- Search Start-->
                        <div class="col-table-cell col-lg-5 col-md-5 col-md-push-0 col-sm-6 col-sm-push-6 col-xs-12">
                            <div id="search" class="input-group">
                                <input id="filter_name" type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                                <button type="button" class="button-search"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <!-- Search End-->
                        <!-- Mini Cart Start-->
                        <div class="col-table-cell col-lg-3 col-md-3 col-md-pull-0 col-sm-6 col-sm-pull-6 col-xs-12 inner">
                            <div id="cart">
                                <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="heading dropdown-toggle"> <span class="cart-icon pull-left flip"></span> <span id="cart-total">2 item(s) - Rp 1,132.00</span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">
                                                        <a href="product.html"><img class="img-thumbnail" title="Xitefun Causal Wear Fancy Shoes" alt="Xitefun Causal Wear Fancy Shoes" src="image/banner/sepatu.jpg"></a>
                                                    </td>
                                                    <td class="text-left"><a href="product.html">Xitefun Causal Wear Fancy Shoes</a></td>
                                                    <td class="text-right">x 1</td>
                                                    <td class="text-right">Rp 902.00</td>
                                                    <td class="text-center">
                                                        <button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <a href="product.html"><img class="img-thumbnail" title="Aspire Ultrabook Laptop" alt="Aspire Ultrabook Laptop" src="image/product/samsung_tab_1-50x50.jpg"></a>
                                                    </td>
                                                    <td class="text-left"><a href="product.html">Aspire Ultrabook Laptop</a></td>
                                                    <td class="text-right">x 1</td>
                                                    <td class="text-right">Rp 230.00</td>
                                                    <td class="text-center">
                                                        <button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                    <li>
                                        <div>
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-right"><strong>Sub-Total</strong></td>
                                                        <td class="text-right">Rp 940.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                                                        <td class="text-right">Rp 4.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right"><strong>VAT (20%)</strong></td>
                                                        <td class="text-right">Rp 188.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right"><strong>Total</strong></td>
                                                        <td class="text-right">Rp 1,132.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p class="checkout"><a href="../../cart.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> View Cart</a>&nbsp;&nbsp;&nbsp;<a href="../../checkout.html" class="btn btn-primary"><i class="fa fa-share"></i> Checkout</a></p>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Mini Cart End-->
                    </div>
                </div>
            </header>
            <!-- Header End-->
            <!-- Main Menu Start-->
            <nav id="menu" class="navbar">
                <div class="container">
                    <div class="navbar-header"> <span class="visible-xs visible-sm"> Menu <b></b></span></div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li><a class="home_link" title="Home" href="../../index.html"><span>Home</span></a></li>
                            <li class="dropdown"><a>Shop by Categories</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li> <a href="#">Clothing<span>&rsaquo;</span></a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li><a href="#">Men <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li><a href="#">Sub Categories</a></li>
                                                                <li><a href="#">Sub Categories</a></li>
                                                                <li><a href="#">Sub Categories</a></li>
                                                                <li><a href="#">Sub Categories</a></li>
                                                                <li><a href="#">Sub Categories New</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li><a href="#">Women</a> </li>
                                                    <li><a href="#">Girls<span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li><a href="#">Sub Categories </a></li>
                                                                <li><a href="#">Sub Categories New</a></li>
                                                                <li><a href="#">Sub Categories New</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li><a href="#">Boys</a></li>
                                                    <li><a href="#">Baby</a></li>
                                                    <li><a href="#">Accessories <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li><a href="#">New Sub Categories</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li> <a href="#">Electronics<span>&rsaquo;</span></a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li> <a href="#">Laptops <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li> <a href="#">New Sub Categories </a> </li>
                                                                <li> <a href="#">New Sub Categories </a> </li>
                                                                <li> <a href="#">Sub Categories New </a> </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li> <a href="#">Desktops <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li> <a href="#">New Sub Categories </a> </li>
                                                                <li> <a href="#">Sub Categories New </a> </li>
                                                                <li> <a href="#">Sub Categories New </a> </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li> <a href="#">Cameras <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li> <a href="#">New Sub Categories</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li><a href="#">Mobile Phones <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li><a href="#">New Sub Categories</a></li>
                                                                <li><a href="#">New Sub Categories</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li><a href="#">TV &amp; Home Audio <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li><a href="#">New Sub Categories </a> </li>
                                                                <li><a href="#">Sub Categories New </a> </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li><a href="#">MP3 Players</a> </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">Shoes<span>&rsaquo;</span></a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li><a href="#">Men</a> </li>
                                                    <li><a href="#">Women <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li><a href="#">New Sub Categories </a> </li>
                                                                <li><a href="#">Sub Categories </a> </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li><a href="#">Girls</a> </li>
                                                    <li><a href="#">Boys</a> </li>
                                                    <li><a href="#">Baby</a> </li>
                                                    <li><a href="#">Accessories <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li><a href="#">New Sub Categories</a></li>
                                                                <li><a href="#">New Sub Categories</a></li>
                                                                <li><a href="#">Sub Categories</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li> <a href="#">Watches<span>&rsaquo;</span></a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li> <a href="#">Men's Watches</a></li>
                                                    <li> <a href="#">Women's Watches</a></li>
                                                    <li> <a href="#">Kids' Watches</a></li>
                                                    <li> <a href="#">Accessories</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li> <a href="#">Jewellery<span>&rsaquo;</span></a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li> <a href="#">Silver <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li> <a href="#">New Sub Categories</a></li>
                                                                <li> <a href="#">New Sub Categories</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li><a href="#">Gold <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li><a href="#">test 1</a></li>
                                                                <li><a href="#">test 2</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li><a href="#">Diamond</a></li>
                                                    <li><a href="#">Pearl <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li><a href="#">New Sub Categories</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li><a href="#">Men's Jewellery</a></li>
                                                    <li><a href="#">Children's Jewellery <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li><a href="#">New Sub Categories </a> </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">Drone &amp; & Gopro<span>&rsaquo;</span></a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li> <a href="#">Perfumes</a></li>
                                                    <li> <a href="#">Makeup</a></li>
                                                    <li> <a href="#">Sun Care</a></li>
                                                    <li> <a href="#">Skin Care</a></li>
                                                    <li> <a href="#">Eye Care</a></li>
                                                    <li> <a href="#">Hair Care</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li> <a href="#">Kids &amp; Babies<span>&rsaquo;</span></a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li><a href="#">Toys</a></li>
                                                    <li><a href="#">Games <span>&rsaquo;</span></a>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li><a href="#">test 25</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li><a href="#">Puzzles</a></li>
                                                    <li><a href="#">Hobbies</a></li>
                                                    <li><a href="#">Strollers</a></li>
                                                    <li><a href="#">Health &amp; Safety</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li> <a href="#">Sports<span>&rsaquo;</span></a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li><a href="#">Cycling</a></li>
                                                    <li><a href="#">Running</a></li>
                                                    <li><a href="#">Swimming</a></li>
                                                    <li><a href="#">Football</a></li>
                                                    <li><a href="#">Golf</a></li>
                                                    <li><a href="#">Windsurfing</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li> <a href="#">Home &amp; Garden<span>&rsaquo;</span></a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li><a href="#">Bedding</a></li>
                                                    <li><a href="#">Food</a></li>
                                                    <li><a href="#">Furniture</a></li>
                                                    <li><a href="#">Kitchen</a></li>
                                                    <li><a href="#">Lighting</a></li>
                                                    <li><a href="#">Tools</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li> <a href="#">Wines &amp; Spirits<span>&rsaquo;</span></a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li><a href="#">Wine</a></li>
                                                    <li><a href="#">Whiskey</a></li>
                                                    <li><a href="#">Vodka</a></li>
                                                    <li><a href="#">Liqueurs</a></li>
                                                    <li><a href="#">Beer</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu_brands dropdown"><a href="#">Brands</a>
                                <div class="dropdown-menu">
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../../image/product/apple_logo-60x60.jpg" title="Apple" alt="Apple" /></a><a href="#">Apple</a></div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../../image/product/canon_logo-60x60.jpg" title="Canon" alt="Canon" /></a><a href="#">Canon</a></div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../../image/product/hp_logo-60x60.jpg" title="Hewlett-Packard" alt="Hewlett-Packard" /></a><a href="#">Hewlett-Packard</a></div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../../image/product/htc_logo-60x60.jpg" title="HTC" alt="HTC" /></a><a href="#">HTC</a></div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../../image/product/palm_logo-60x60.jpg" title="Palm" alt="Palm" /></a><a href="#">Palm</a></div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../../image/product/sony_logo-60x60.jpg" title="Sony" alt="Sony" /></a><a href="#">Sony</a> </div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../../image/product/canon_logo-60x60.jpg" title="test" alt="test" /></a><a href="#">test</a> </div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../../image/product/apple_logo-60x60.jpg" title="test 3" alt="test 3" /></a><a href="#">test 3</a></div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../../image/product/canon_logo-60x60.jpg" title="test 5" alt="test 5" /></a><a href="#">test 5</a> </div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../../image/product/canon_logo-60x60.jpg" title="test 6" alt="test 6" /></a><a href="#">test 6</a></div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../../image/product/apple_logo-60x60.jpg" title="test 7" alt="test 7" /></a><a href="#">test 7</a> </div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../../image/product/canon_logo-60x60.jpg" title="test1" alt="test1" /></a><a href="#">test1</a></div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../../image/product/apple_logo-60x60.jpg" title="test2" alt="test2" /></a><a href="#">test2</a></div>
                                </div>
                            </li>
                            <li class="contact-link"><a href="../../contact-us.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Main Menu End-->
        </div>
        <div id="container">
            <div class="container">
                <!-- Breadcrumb Start-->
                <ul class="breadcrumb">
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="index.html" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a></li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="category.html" itemprop="url"><span itemprop="title">Electronics</span></a></li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="product.html" itemprop="url"><span itemprop="title">Logitech G213 Prodigy Gaming Keyboard</span></a></li>
                </ul>
                <!-- Breadcrumb End-->
                <div class="row">
                    <!--Right Part Start -->
                    <aside id="column-left" class="col-sm-3 hidden-xs">
                        <h3 class="subtitle">Bestseller</h3>
                        <div class="side-item">
                            <div class="product-thumb clearfix">
                                <div class="image">
                                    <a href="../laptop/asus-zenbook-flip.html"><img src="../../image/product/l200/200-1.jpg" alt="ASUS Zenbook Flip" title="ASUS Zenbook Flip" class="img-responsive" /></a>
                                </div>
                                <div class="caption">
                                    <h4><a href="../laptop/asus-zenbook-flip.html">ASUS Zenbook Flip</a></h4>
                                    <p class="price"> Rp 11.800.000 </p>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                </div>
                            </div>
                            <div class="product-thumb clearfix">
                                <div class="image">
                                    <a href="../laptop/asus-notebook-x455lj.html"><img src="../../image/product/l200/200-2.jpg" alt="ASUS Notebook X455LJ" title="ASUS Notebook X455LJ" class="img-responsive" /></a>
                                </div>
                                <div class="caption">
                                    <h4><a href="../laptop/asus-notebook-x455lj.html">ASUS Notebook X455LJ</a></h4>
                                    <p class="price"> <span class="price-new">Rp 4.879.200</span> <span class="price-old">Rp 6.099.000</span> <span class="saving">-20%</span> </p>
                                </div>
                            </div>
                            <div class="product-thumb clearfix">
                                <div class="image">
                                    <a href="../laptop/asus-zenbook-ux303ub.html"><img src="../../image/product/l200/200-3.jpg" alt="ASUS ZenBook UX303UB" title="ASUS ZenBook UX303UB" class="img-responsive" /></a>
                                </div>
                                <div class="caption">
                                    <h4><a href="../laptop/asus-zenbook-ux303ub.html">ASUS ZenBook UX303UB</a></h4>
                                    <p class="price"> <span class="price-new">Rp 19.807.500</span> <span class="price-old">Rp 20.850.000</span> <span class="saving">-5%</span> </p>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                </div>
                            </div>
                            <div class="product-thumb clearfix">
                                <div class="image">
                                    <a href="../laptop/asus-rog-g551vw.html"><img src="../../image/product/l200/200-4.jpg" alt="ASUS ROG G551VW" title="ASUS ROG G551VW" class="img-responsive" /></a>
                                </div>
                                <div class="caption">
                                    <h4><a href="../laptop/asus-rog-g551vw.html">ASUS ROG G551VW</a></h4>
                                    <p class="price"> <span class="price-new">Rp 13.387.500</span> <span class="price-old">Rp 17.850.000</span> <span class="saving">-25%</span> </p>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                </div>
                            </div>
                            <div class="product-thumb clearfix">
                                <div class="image">
                                    <a href="../laptop/asus-zenbook-ux330ca.html"><img src="../../image/product/l200/200-5.jpg" alt="ASUS ZenBook UX330CA" title="ASUS ZenBook UX330CA" class="img-responsive" /></a>
                                </div>
                                <div class="caption">
                                    <h4><a href="../laptop/asus-zenbook-ux330ca.html">ASUS ZenBook UX330CA</a></h4>
                                    <p class="price"> Rp 9.560.000 </p>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="subtitle">Specials</h3>
                        <div class="side-item">
                            <div class="product-thumb clearfix">
                                <div class="image">
                                    <a href="../accessories/logitech-g213-prodigy-gaming-keyboard.html"><img src="../../image/product/a200/200-4.jpg" alt="Logitech G213 Prodigy Gaming Keyboard" title="Logitech G213 Prodigy Gaming Keyboard" class="img-responsive" /></a>
                                </div>
                                <div class="caption">
                                    <h4><a href="../accessories/logitech-g213-prodigy-gaming-keyboard.html">Logitech G213 Prodigy Gaming Keyboard</a></h4>
                                    <p class="price"> Rp 580.000 </p>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                </div>
                            </div>
                            <div class="product-thumb clearfix">
                                <div class="image">
                                    <a href="../smartphone/lenovo-vibe-k5-plus.html"><img src="../../image/product/s200/200-4.jpg" alt="LENOVO Vibe K5 Plus (16GB/3GB RAM)" title="LENOVO Vibe K5 Plus (16GB/3GB RAM)" class="img-responsive" /></a>
                                </div>
                                <div class="caption">
                                    <h4><a href="../smartphone/lenovo-vibe-k5-plus.html">LENOVO Vibe K5 Plus (16GB/3GB RAM)</a></h4>
                                    <p class="price"> Rp 1.950.000 </p>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                </div>
                            </div>
                            <div class="product-thumb clearfix">
                                <div class="image">
                                    <a href="../smartphone/asus-zenfone-4-selfie.html"><img src="../../image/product/s200/200-2.jpg" alt="ASUS Zenfone 4 Selfie" title="ASUS Zenfone 4 Selfie" class="img-responsive" /></a>
                                </div>
                                <div class="caption">
                                    <h4><a href="../smartphone/asus-zenfone-4-selfie.html"> ASUS Zenfone 4 Selfie </a></h4>
                                    <p class="price"> <span class="price-new">Rp 2.183.000</span> <span class="price-old">Rp 2.950.000</span> <span class="saving">-26%</span> </p>
                                </div>
                            </div>
                            <div class="product-thumb clearfix">
                                <div class="image">
                                    <a href="../accessories/corsair-raptor-k30.html"><img src="../../image/product/a200/200-3.jpg" alt="Corsair Raptor K30" title="Corsair Raptor K30" class="img-responsive" /></a>
                                </div>
                                <div class="caption">
                                    <h4><a href="../accessories/corsair-raptor-k30.html">Corsair Raptor K30</a></h4>
                                    <p class="price"> <span class="price-new">Rp 673.195</span> <span class="price-old">Rp 922.185</span> <span class="saving">-27%</span> </p>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!--Right Part End -->
                    <!--Middle Part Start-->
                    <div id="content" class="col-sm-9">
                        <div itemscope itemtype="http://schema.org/Product">
                            <h1 class="title" itemprop="name">{{name}}</h1>
                            <div class="row product-info">
                                <div class="col-sm-6">
                                  <div class="image"><img class="img-responsive" itemprop="image" id="zoom_01" src="../..//{{image_uri}}" title="Logitech G213 Prodigy Gaming Keyboard" alt="Logitech G213 Prodigy Gaming Keyboard" data-zoom-image="../../{{image_uri}}" /> </div>
                                    <div class="center-block text-center"><span class="zoom-gallery"><i class="fa fa-search"></i> Click image for Gallery</span></div>
                                    <div class="image-additional" id="gallery_01">
                                        <a class="thumbnail" href="#" data-zoom-image="../../image/product/accessories/4.jpg" data-image="../../image/product/accessories/4.jpg" title="Logitech G213 Prodigy Gaming Keyboard"> <img src="../../image/product/accessories/4.jpg" title="Logitech G213 Prodigy Gaming Keyboard" alt="Logitech G213 Prodigy Gaming Keyboard" /></a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled description">
                                        <li><b>Brand:</b> <a href="#"><span itemprop="brand">Logitech</span></a></li>
                                        <li><b>Product Code:</b> <span itemprop="mpn">Product 17</span></li>
                                        <li><b>Reward Points:</b> 700</li>
                                        <li><b>Availability:</b> <span class="instock">In Stock</span></li>
                                    </ul>
                                    <ul class="price-box">
                                      <li class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="price">Rp {{price}}<span itemprop="availability" content="In Stock"></span></span>
                                        </li>
                                        <li></li>
                                        <li>Ex Tax: Rp {{afterTax}}</li>
                                    </ul>
                                    <div id="product">
                                        <h3 class="subtitle">Available Options</h3>
                                        <div class="form-group required">
                                            <form action="/add-to-cart-handler" method="post">
                                              <input type="hidden" name="product_id" value={{id}}>
                                            <label class="control-label">Color</label>
                                            <select class="form-control" id="input-option200" name="color">
                                                <option value=""> --- Please Select --- </option>
                                                <option value="4">Black</option>
                                            </select>
                                        </div>
                                        <div class="cart">
                                            <div>
                                                <div class="qty">

                                                    <label class="control-label" for="input-quantity">Qty</label>
                                                    <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                                    <a class="qtyBtn plus" href="javascript:void(0);">+</a>
                                                    <br />
                                                    <a class="qtyBtn mines" href="javascript:void(0);">-</a>
                                                    <div class="clear"></div>
                                                </div>
                                                  <input type="submit" value="Add to Cart" id="button-cart" class="btn btn-primary btn-lg"/>
                                                  </form>

                                            </div>
                                            <!-- <div>
                                                <button type="button" class="wishlist" onClick=""><i class="fa fa-heart"></i> Add to Wish List</button>
                                                <br />
                                                <button type="button" class="wishlist" onClick=""><i class="fa fa-exchange"></i> Compare this Product</button>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                                        <meta itemprop="ratingValue" content="0" />
                                        <p><span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> <a onClick="$('a[href=\'#tab-review\']').trigger('click'); return false;" href=""><span itemprop="reviewCount">2 reviews</span></a> <!-- / <a onClick="$('a[href=\'#tab-review\']').trigger('click'); return false;" href="">Write a review</a> --></p>
                                    </div>
                                    <hr>
                                    <!-- AddThis Button BEGIN -->
                                    <div class="addthis_toolbox addthis_default_style">
                                        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                        <a class="addthis_button_tweet"></a>
                                        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                                        <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal" pi:pinit:url="http://www.addthis.com/features/pinterest" pi:pinit:media="http://www.addthis.com/cms-content/images/features/pinterest-lg.png"></a>
                                        <a class="addthis_counter addthis_pill_style"></a>
                                    </div>
                                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-514863386b357649"></script>
                                    <!-- AddThis Button END -->
                                </div>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
                                <li><a href="#tab-specification" data-toggle="tab">Specification</a></li>
                                <li><a href="#tab-review" data-toggle="tab">Reviews (2)</a></li>
                            </ul>
                            <div class="tab-content">
                                <div itemprop="description" id="tab-description" class="tab-pane active">
                                    <div>
                                      <p>
                                        {{description}}
                                      </p>
                                    </div>
                                </div>
                                <div id="tab-specification" class="tab-pane">
                                    <div id="tab-specification" class="tab-pane">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td colspan="2"><strong>Memory</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>test 1</td>
                                                    <td>8gb</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td colspan="2"><strong>Processor</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>No. of Cores</td>
                                                    <td>1</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="tab-review" class="tab-pane">
                                    <form class="form-horizontal">
                                        <div id="review">
                                            <div>
                                                <table class="table table-striped table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 50%;"><strong><span>harvey</span></strong></td>
                                                            <td class="text-right"><span>20/01/2016</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table class="table table-striped table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 50%;"><strong><span>Andrson</span></strong></td>
                                                            <td class="text-right"><span>20/01/2016</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="text-right"></div>
                                        </div>
                                        <h2>Write a review</h2>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label for="input-name" class="control-label">Your Name</label>
                                                <input type="text" class="form-control" id="input-name" value="" name="name">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label for="input-review" class="control-label">Your Review</label>
                                                <textarea class="form-control" id="input-review" rows="5" name="text"></textarea>
                                                <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label">Rating</label>
                                                &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                                <input type="radio" value="1" name="rating"> &nbsp;
                                                <input type="radio" value="2" name="rating"> &nbsp;
                                                <input type="radio" value="3" name="rating"> &nbsp;
                                                <input type="radio" value="4" name="rating"> &nbsp;
                                                <input type="radio" value="5" name="rating"> &nbsp;Good
                                            </div>
                                        </div>
                                        <div class="buttons">
                                            <div class="pull-right">
                                                <button class="btn btn-primary" id="button-review" type="button">Continue</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <h3 class="subtitle">Related Products</h3>
                            <div class="owl-carousel related_pro">
                              <div class="product-thumb">
                                  <div class="image">
                                      <a href="../accessories/razer-hammerhead-pro-v2.html"><img src="../../image/product/a200/200-1.jpg" alt="Razer Hammerhead Pro V2" title="Razer Hammerhead Pro V2" class="img-responsive" /></a>
                                  </div>
                                  <div class="caption">
                                      <h4><a href="../accessories/razer-hammerhead-pro-v2.html">Razer Hammerhead Pro V2</a></h4>
                                      <p class="price"> Rp 1.100.000 </p>
                                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                  </div>
                                  <div class="button-group">
                                      <input type="submit" class="btn-primary"><span>Add to Cart</span></button>

                                      <div class="add-to-links">
                                          <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                          <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                      </div>
                                  </div>
                              </div>
                              <div class="product-thumb">
                                  <div class="image">
                                      <a href="../accessories/corsair-raptor-k30.html"><img src="../../image/product/a200/200-3.jpg" alt="Corsair Raptor K30" title="Corsair Raptor K30" class="img-responsive" /></a>
                                  </div>
                                  <div class="caption">
                                      <h4><a href="../accessories/corsair-raptor-k30.html">Corsair Raptor K30</a></h4>
                                      <p class="price"> <span class="price-new">Rp 673.195</span> <span class="price-old">Rp 922.185</span> <span class="saving">-27%</span> </p>
                                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                  </div>
                                  <div class="button-group">
                                      <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                      <div class="add-to-links">
                                          <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                          <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                      </div>
                                  </div>
                              </div>
                              <div class="product-thumb">
                                  <div class="image">
                                      <a href="../accessories/logitech-g430-gaming-headset.html"><img src="../../image/product/a200/200-2.jpg" alt="Logitech G430 Gaming Headset" title="Logitech G430 Gaming Headset" class="img-responsive" /></a>
                                  </div>
                                  <div class="caption">
                                      <h4><a href="../accessories/logitech-g430-gaming-headset.html">Logitech G430 Gaming Headset</a></h4>
                                      <p class="price"> Rp 945.000 </p>
                                  </div>
                                  <div class="button-group">
                                      <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                      <div class="add-to-links">
                                          <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                          <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                      </div>
                                  </div>
                              </div>
                              <div class="product-thumb">
                                  <div class="image">
                                      <a href="../accessories/steelseries-sensei-rubber.html"><img src="../../image/product/a200/200-6.jpg" alt="Steelseries Sensei [RAW] - Rubber" title="Steelseries Sensei [RAW] - Rubber" class="img-responsive" /></a>
                                  </div>
                                  <div class="caption">
                                      <h4><a href="../accessories/steelseries-sensei-rubber.html">Steelseries Sensei [RAW] - Rubber</a></h4>
                                      <p class="price"> <span class="price-new">Rp 884.160</span> <span class="price-old">Rp 921.000</span> <span class="saving">-4%</span> </p>
                                  </div>
                                  <div class="button-group">
                                      <button class="btn-primary" type="button" onClick="cart.add('61');"><span>Add to Cart</span></button>
                                      <div class="add-to-links">
                                          <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick="wishlist.add('61');"><i class="fa fa-heart"></i></button>
                                          <button type="button" data-toggle="tooltip" title="Add to compare" onClick="compare.add('61');"><i class="fa fa-exchange"></i></button>
                                      </div>
                                  </div>
                              </div>
                              <div class="product-thumb">
                                  <div class="image">
                                      <a href="../accessories/logitech-g213-prodigy-gaming-keyboard.html"><img src="../../image/product/a200/200-4.jpg" alt="Logitech G213 Prodigy Gaming Keyboard" title="Logitech G213 Prodigy Gaming Keyboard" class="img-responsive" /></a>
                                  </div>
                                  <div class="caption">
                                      <h4><a href="../accessories/logitech-g213-prodigy-gaming-keyboard.html">Logitech G213 Prodigy Gaming Keyboard</a></h4>
                                      <p class="price"> Rp 580.000 </p>
                                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                  </div>
                                  <div class="button-group">
                                      <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                      <div class="add-to-links">
                                          <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                          <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                      </div>
                                  </div>
                              </div>
                              <div class="product-thumb">
                                  <div class="image">
                                      <a href="../accessories/razer-deathadder-2013-essential.html"><img src="../../image/product/a200/200-5.jpg" alt="Razer Deathadder 2013 Essential" title="Razer Deathadder 2013 Essential" class="img-responsive" /></a>
                                  </div>
                                  <div class="caption">
                                      <h4><a href="../accessories/razer-deathadder-2013-essential.html">Razer Deathadder 2013 Essential</a></h4>
                                      <p class="price"> Rp 1.000.000 </p>
                                  </div>
                                  <div class="button-group">
                                      <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                      <div class="add-to-links">
                                          <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                          <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <!--Middle Part End -->

                </div>
            </div>
        </div>
        <!--Footer Start-->
        <footer id="footer">
            <div class="fpart-first">
                <div class="container">
                    <div class="row">
                        <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <h5>Contact Details</h5>
                            <ul>
                                <li class="address"><i class="fa fa-map-marker"></i>Mangga Dua Mall Lt. 5 Blok C No. 101-106</li>
                                <li class="mobile"><i class="fa fa-phone"></i>(021) 30430333</li>
                                <li class="email"><i class="fa fa-envelope"></i>Send email via our <a href="contact-us.html">Contact Us</a>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>Information</h5>
                            <ul>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="about-us.html">Delivery Information</a></li>
                                <li><a href="about-us.html">Privacy Policy</a></li>
                                <li><a href="about-us.html">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>Customer Service</h5>
                            <ul>
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="sitemap.html">Site Map</a></li>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>Extras</h5>
                            <ul>
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">Gift Vouchers</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Specials</a></li>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>My Account</h5>
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">Wish List</a></li>
                                <li><a href="#">Newsletter</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="back-top"><a data-toggle="tooltip" title="Back to Top" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
        </footer>
        <!--Footer End-->
    </div>
    <!-- JS Part Start-->
    <script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.easing-1.3.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.dcjqaccordion.min.js"></script>
    <script type="text/javascript" src="../../js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript" src="../../js/swipebox/lib/ios-orientationchange-fix.js"></script>
    <script type="text/javascript" src="../../js/swipebox/src/js/jquery.swipebox.min.js"></script>
    <script type="text/javascript" src="../../js/custom.js"></script>
    <script type="text/javascript">
        // Elevate Zoom for Product Page image
        $("#zoom_01").elevateZoom({
            gallery: 'gallery_01',
            cursor: 'pointer',
            galleryActiveClass: 'active',
            imageCrossfade: true,
            zoomWindowFadeIn: 500,
            zoomWindowFadeOut: 500,
            lensFadeIn: 500,
            lensFadeOut: 500,
            loadingIcon: 'image/progress.gif'
        });
        //////pass the images to swipebox
        $("#zoom_01").bind("click", function(e) {
            var ez = $('#zoom_01').data('elevateZoom');
            $.swipebox(ez.getGalleryList());
            return false;
        });
    </script>
    <!-- JS Part End-->
</body>

</html>
