<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="image/favicon.png" rel="icon" />
    <title>Purchase Completed</title>
    <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
    <!-- CSS Part Start-->
    <link rel="stylesheet" type="text/css" href="js/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.transitions.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="css/stylesheet-skin3.css" />
    <link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <!-- CSS Part End-->
</head>

<body>
    <div class="wrapper-wide">
      <div id="header">
        <!-- Header Start-->
        <header class="header-row">
            <div class="container">
                <div class="table-container">
                    <!-- Logo Start -->
                    <div class="col-table-cell col-lg-4 col-md-4 col-sm-12 col-xs-12 inner">
                        <div id="logo">
                            <a href="index.html"><img class="img-responsive" src="image/banner/logo.png" style="width: 50%" title="MarketShop" alt="MarketShop" /></a>
                        </div>
                    </div>
                    <!-- Logo End -->
                    <!-- Search Start-->
                    <div class="col-table-cell col-lg-5 col-md-5 col-md-push-0 col-sm-6 col-sm-push-6 col-xs-12">
                        <div id="search" class="input-group">
                            <input id="filter_name" type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                            <button type="button" class="button-search"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <!-- Search End-->
                    <!-- Mini Cart Start-->
                    <div class="col-table-cell col-lg-3 col-md-3 col-md-pull-0 col-sm-6 col-sm-pull-6 col-xs-12 inner">
                        <div id="cart">
                            <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="heading dropdown-toggle"> <span class="cart-icon pull-left flip"></span> <span id="cart-total">2 item(s) - Rp 1,132.00</span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center">
                                                    <a href="#"><img class="img-thumbnail" title="Xitefun Causal Wear Fancy Shoes" alt="Xitefun Causal Wear Fancy Shoes" src="image/banner/sepatu.jpg"></a>
                                                </td>
                                                <td class="text-left"><a href="#">Xitefun Causal Wear Fancy Shoes</a></td>
                                                <td class="text-right">x 1</td>
                                                <td class="text-right">Rp 902.00</td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <a href="#"><img class="img-thumbnail" title="Aspire Ultrabook Laptop" alt="Aspire Ultrabook Laptop" src="image/product/samsung_tab_1-50x50.jpg"></a>
                                                </td>
                                                <td class="text-left"><a href="#">Aspire Ultrabook Laptop</a></td>
                                                <td class="text-right">x 1</td>
                                                <td class="text-right">Rp 230.00</td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li>
                                    <div>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="text-right"><strong>Sub-Total</strong></td>
                                                    <td class="text-right">Rp 940.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                                                    <td class="text-right">Rp 4.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right"><strong>VAT (20%)</strong></td>
                                                    <td class="text-right">Rp 188.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right"><strong>Total</strong></td>
                                                    <td class="text-right">Rp 1,132.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="checkout"><a href="cart.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> View Cart</a>&nbsp;&nbsp;&nbsp;<a href="checkout.html" class="btn btn-primary"><i class="fa fa-share"></i> Checkout</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mini Cart End-->
                </div>
            </div>
        </header>
        <!-- Header End-->
        <!-- Main Menu Start-->
        <nav id="menu" class="navbar">
            <div class="container">
                <div class="navbar-header"> <span class="visible-xs visible-sm"> Menu <b></b></span></div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="home_link" title="Home" href="index.html"><span>Home</span></a></li>
                        <li class="dropdown"><a>Shop by Categories</a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li> <a href="category.html">Clothing<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="category.html">Men <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">Sub Categories</a></li>
                                                            <li><a href="category.html">Sub Categories</a></li>
                                                            <li><a href="category.html">Sub Categories</a></li>
                                                            <li><a href="category.html">Sub Categories</a></li>
                                                            <li><a href="category.html">Sub Categories New</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Women</a> </li>
                                                <li><a href="category.html">Girls<span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">Sub Categories </a></li>
                                                            <li><a href="category.html">Sub Categories New</a></li>
                                                            <li><a href="category.html">Sub Categories New</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Boys</a></li>
                                                <li><a href="category.html">Baby</a></li>
                                                <li><a href="category.html">Accessories <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Electronics<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li> <a href="category.html">Laptops <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li> <a href="category.html">New Sub Categories </a> </li>
                                                            <li> <a href="category.html">New Sub Categories </a> </li>
                                                            <li> <a href="category.html">Sub Categories New </a> </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li> <a href="category.html">Desktops <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li> <a href="category.html">New Sub Categories </a> </li>
                                                            <li> <a href="category.html">Sub Categories New </a> </li>
                                                            <li> <a href="category.html">Sub Categories New </a> </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li> <a href="category.html">Cameras <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li> <a href="category.html">New Sub Categories</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Mobile Phones <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories</a></li>
                                                            <li><a href="category.html">New Sub Categories</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">TV &amp; Home Audio <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories </a> </li>
                                                            <li><a href="category.html">Sub Categories New </a> </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">MP3 Players</a> </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="category.html">Shoes<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="category.html">Men</a> </li>
                                                <li><a href="category.html">Women <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories </a> </li>
                                                            <li><a href="category.html">Sub Categories </a> </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Girls</a> </li>
                                                <li><a href="category.html">Boys</a> </li>
                                                <li><a href="category.html">Baby</a> </li>
                                                <li><a href="category.html">Accessories <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories</a></li>
                                                            <li><a href="category.html">New Sub Categories</a></li>
                                                            <li><a href="category.html">Sub Categories</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Watches<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li> <a href="category.html">Men's Watches</a></li>
                                                <li> <a href="category.html">Women's Watches</a></li>
                                                <li> <a href="category.html">Kids' Watches</a></li>
                                                <li> <a href="category.html">Accessories</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Jewellery<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li> <a href="category.html">Silver <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li> <a href="category.html">New Sub Categories</a></li>
                                                            <li> <a href="category.html">New Sub Categories</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Gold <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">test 1</a></li>
                                                            <li><a href="category.html">test 2</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Diamond</a></li>
                                                <li><a href="category.html">Pearl <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Men's Jewellery</a></li>
                                                <li><a href="category.html">Children's Jewellery <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">New Sub Categories </a> </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="category.html">Drone &amp; & Gopro<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li> <a href="category.html">Perfumes</a></li>
                                                <li> <a href="category.html">Makeup</a></li>
                                                <li> <a href="category.html">Sun Care</a></li>
                                                <li> <a href="category.html">Skin Care</a></li>
                                                <li> <a href="category.html">Eye Care</a></li>
                                                <li> <a href="category.html">Hair Care</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Kids &amp; Babies<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="category.html">Toys</a></li>
                                                <li><a href="category.html">Games <span>&rsaquo;</span></a>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="category.html">test 25</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="category.html">Puzzles</a></li>
                                                <li><a href="category.html">Hobbies</a></li>
                                                <li><a href="category.html">Strollers</a></li>
                                                <li><a href="category.html">Health &amp; Safety</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Sports<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="category.html">Cycling</a></li>
                                                <li><a href="category.html">Running</a></li>
                                                <li><a href="category.html">Swimming</a></li>
                                                <li><a href="category.html">Football</a></li>
                                                <li><a href="category.html">Golf</a></li>
                                                <li><a href="category.html">Windsurfing</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Home &amp; Garden<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="category.html">Bedding</a></li>
                                                <li><a href="category.html">Food</a></li>
                                                <li><a href="category.html">Furniture</a></li>
                                                <li><a href="category.html">Kitchen</a></li>
                                                <li><a href="category.html">Lighting</a></li>
                                                <li><a href="category.html">Tools</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li> <a href="category.html">Wines &amp; Spirits<span>&rsaquo;</span></a>
                                        <div class="dropdown-menu">
                                            <ul>
                                                <li><a href="category.html">Wine</a></li>
                                                <li><a href="category.html">Whiskey</a></li>
                                                <li><a href="category.html">Vodka</a></li>
                                                <li><a href="category.html">Liqueurs</a></li>
                                                <li><a href="category.html">Beer</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu_brands dropdown"><a href="#">Brands</a>
                            <div class="dropdown-menu">
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/apple_logo-60x60.jpg" title="Apple" alt="Apple" /></a><a href="#">Apple</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="Canon" alt="Canon" /></a><a href="#">Canon</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/hp_logo-60x60.jpg" title="Hewlett-Packard" alt="Hewlett-Packard" /></a><a href="#">Hewlett-Packard</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/htc_logo-60x60.jpg" title="HTC" alt="HTC" /></a><a href="#">HTC</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/palm_logo-60x60.jpg" title="Palm" alt="Palm" /></a><a href="#">Palm</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/sony_logo-60x60.jpg" title="Sony" alt="Sony" /></a><a href="#">Sony</a> </div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="test" alt="test" /></a><a href="#">test</a> </div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/apple_logo-60x60.jpg" title="test 3" alt="test 3" /></a><a href="#">test 3</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="test 5" alt="test 5" /></a><a href="#">test 5</a> </div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="test 6" alt="test 6" /></a><a href="#">test 6</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/apple_logo-60x60.jpg" title="test 7" alt="test 7" /></a><a href="#">test 7</a> </div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/canon_logo-60x60.jpg" title="test1" alt="test1" /></a><a href="#">test1</a></div>
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                    <a href="#"><img src="image/product/apple_logo-60x60.jpg" title="test2" alt="test2" /></a><a href="#">test2</a></div>
                            </div>
                        </li>
                        <li class="contact-link"><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Main Menu End-->
      </div>
        <div id="container">
            <div class="container">
                <!-- Breadcrumb Start-->
                <ul class="breadcrumb">
                    <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                    <li><a href="cart.html">Purchase Completed</a></li>
                </ul>
                <!-- Breadcrumb End-->
                <div class="row">
                    <!--Middle Part Start-->
                    <div id="content" class="col-sm-12">
                        <h1 class="title">Purchase Completed</h1>
                        <h2 class="subtitle">What would you like to do next?</h2>
                        <p>Please check your email to see your shipping number and detail information about your purchase or <a href="index.html">back to home</a></p>
                    </div>
                    <!--Middle Part End -->
                </div>
            </div>
        </div>
      <!--Footer Start-->
      <footer id="footer">
          <div class="fpart-first">
              <div class="container">
                  <div class="row">
                      <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                          <h5>Contact Details</h5>
                          <ul>
                              <li class="address"><i class="fa fa-map-marker"></i>Mangga Dua Mall Lt. 5 Blok C No. 101-106</li>
                              <li class="mobile"><i class="fa fa-phone"></i>(021) 30430333</li>
                              <li class="email"><i class="fa fa-envelope"></i>Send email via our <a href="contact-us.html">Contact Us</a>
                          </ul>
                      </div>
                      <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                          <h5>Information</h5>
                          <ul>
                              <li><a href="about-us.html">About Us</a></li>
                              <li><a href="about-us.html">Delivery Information</a></li>
                              <li><a href="about-us.html">Privacy Policy</a></li>
                              <li><a href="about-us.html">Terms &amp; Conditions</a></li>
                          </ul>
                      </div>
                      <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                          <h5>Customer Service</h5>
                          <ul>
                              <li><a href="contact-us.html">Contact Us</a></li>
                              <li><a href="#">Returns</a></li>
                              <li><a href="sitemap.html">Site Map</a></li>
                          </ul>
                      </div>
                      <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                          <h5>Extras</h5>
                          <ul>
                              <li><a href="#">Brands</a></li>
                              <li><a href="#">Gift Vouchers</a></li>
                              <li><a href="#">Affiliates</a></li>
                              <li><a href="#">Specials</a></li>
                          </ul>
                      </div>
                      <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                          <h5>My Account</h5>
                          <ul>
                              <li><a href="#">My Account</a></li>
                              <li><a href="#">Order History</a></li>
                              <li><a href="#">Wish List</a></li>
                              <li><a href="#">Newsletter</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>

          <div id="back-top"><a data-toggle="tooltip" title="Back to Top" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
      </footer>
      <!--Footer End-->
    </div>
    <!-- JS Part Start-->
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing-1.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.dcjqaccordion.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <!-- JS Part End-->
</body>

</html>